{"openapi":"3.0.1","info":{"title":"Introduction","description":"Welcome to Trucker Path's API documentation. Integration partners can utilize our APIs to leverage Trucker Path's network of carriers for shipment needs. By accessing or using the Trucker Path API, you are agreeing to the Trucker Path Terms of Service.\n\nNeed help? Email us at: integrations@truckerpath.com\n\n# Release Note\n19/06/2023&emsp;&emsp;Query Loads (pagination) now excludes deleted loads from the response<br/>\n01/11/2022&emsp;&emsp;Load postings now require mandatory long/lat for pickup and dropoff locations<br/>\n             31/10/2022&emsp;&emsp;Fixes: Loads must have at least 2 stop_list<br/>\n               31/10/2022&emsp;&emsp;Fixes:   stop_list requires a pickup and a dropoff in sequence<br/>\n             19/10/2022&emsp;&emsp;*Code Samples* for API request are now available<br/>\n             18/10/2022&emsp;&emsp;Load Post APIs now require a mandatory *company_id* field<br/>\n             30/09/2022&emsp;&emsp;Bug fixes<br/>\n             14/09/2022&emsp;&emsp;Trucker Path API now allows you to manage Companies\n","termsOfService":"https://truckerpath.com/terms-of-service/","version":"1.0"},"servers":[{"url":"https://api.truckerpath.com/truckload","description":"Production"},{"url":"https://test-api.truckerpath.com/truckload","description":"Test"}],"tags":[{"name":"0. Company maintainance","description":"In order to post your load, you must first set up at least ONE company. This is available via create company. You can also maintain your companies here with query/delete etc."},{"name":"1. Loads APIs v2","description":"This API allows partners (broker, shipper, TMS) to post loads to Trucker Path's carrier network and define the allowed actions a carrier can take on that load."},{"name":"2. Document Sync APIs","description":"Coming Soon"},{"name":"3. Visibility APIs","description":"Track a freight shipment from a carrier using the Trucker Path navigation app.\n"},{"name":"4. WebHook Maintenance","description":"Highly configurable WebHooks are user-defined HTTP callbacks for actions happening in Truckloads. These can be used for event-based, real-time notifications between independent services. You can maintain your webhook url here."},{"name":"5. WebHook Request Demo","description":"This is a request demo for Webhook. A post request like below will be sent to your specified callback url when bid/book action takes place. This is NOT an API for your application."},{"name":"6. Load Offers","description":"To accept or reject a Bid/Book for your loads"},{"name":"7. Company Whitelist","description":"company whitelist"}],"paths":{"/api/webhooks/add":{"post":{"tags":["4. WebHook Maintenance"],"summary":"WebHook Creation","description":"You can have one web hook for each type of action. One for Bidding and one for Booking. You won't be able to create more than One webhook for each type of action.","operationId":"addHooks","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebHooksDto"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseExample403"}}}},"500":{"description":"Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseExample500"}}}},"401":{"description":"Not Authorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseExample401"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddWebHooksRes"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseExample404"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseExample400"}}}}},"security":[{"Authorization":[]}],"x-code-samples":[{"source":"OkHttpClient client = new OkHttpClient().newBuilder()\n        .build();\n        MediaType mediaType = MediaType.parse(\"application/json\");\n        RequestBody body = RequestBody.create(mediaType, \"{\\n    \\\"url\\\":\\\"https://go.takeleft.co/truckerpath?\\\",\\n    \\\"type\\\":\\\"BOOK\\\"\\n}\");\n        Request request = new Request.Builder()\n        .url(\"https://test-api.truckerpath.com/truckload/api/webhooks/add\")\n        .method(\"POST\", body)\n        .addHeader(\"Authorization\", \"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjp7InVzZXJJZCI6InZuNTJ1YzUiLCJkaXNwbGF5TmFtZSI6Ik11aGFtbWFkIFNoZXJheiAtIFZlbmRvciIsImdpdmVuTmFtZSI6Ik11aGFtbWFkIiwiZmFtaWx5TmFtZSI6IlNoZXJheiIsIm1haWwiOiJNdWhhbW1hZC5TaGVyYXpAd2FsbWFydC5jb20ifSwidXNlclJvbGVzIjpbXSwidXNlclByaW5jaXBhbE5hbWUiOiJ2bjUydWM1QGhvbWVvZmZpY2Uud2FsLW1hcnQuY29tIiwicGluZ1Rva2VuIjp7ImFjY2Vzc190b2tlbiI6ImV5SmhiR2NpT2lKU1V6STFOaUlzSW10cFpDSTZJbkJtWldSemRHRm5aVjl6YVdkdVgwcDFiSGt5TURJeklpd2ljR2t1WVhSdElqb2lNeUo5LmV5SnpZMjl3WlNJNkltOXdaVzVwWkNCd2NtOW1hV3hsSUdaMWJHd2lMQ0pqYkdsbGJuUmZhV1FpT2lKSlltZFFiM0owWVd4VmFWTjBaeUlzSW1kMWFXUWlPaUpOWmpVMFprb3dORFUzY2poalVFVXpNekJTVlVGeWQxRk1kV0pyTlc5dFJTSXNJbWx6Y3lJNkltaDBkSEJ6T2k4dmNHWmxaR05sY25RdWQyRnNMVzFoY25RdVkyOXRJaXdpYW5ScElqb2lZM3B6V0dKT1NVZ2lMQ0poZFdRaU9pSkpZbWRRYjNKMFlXeFZhVk4wWnlJc0luTjFZaUk2SW5adU5USjFZelZBYUc5dFpXOW1abWxqWlM1M1lXd3RiV0Z5ZEM1amIyMGlMQ0oxY0c0aU9pSjJialV5ZFdNMVFHaHZiV1Z2Wm1acFkyVXVkMkZzTFcxaGNuUXVZMjl0SWl3aWJtSm1Jam94TmpZME9EZzNOVE13TENKcFlYUWlPakUyTmpRNE9EYzJOVEFzSW5WelpYSnBaQ0k2SW5adU5USjFZelVpTENKM2FXNGlPaUpPVDFSZlJrOVZUa1FpTENKbGVIQWlPakUyTmpRNE9URXlOVEI5LktHUGR6OUE3TkZiNjQ5amZmRUVha2dZTkdYVDBhR2pKVUxWcmlUeGppbWNsSEJsMGgtVHJXbVdJTjZOaHZpX25sMzItMnItM042QkpnSnIzbldSQW1BR0xOMUFlSWpTWkR2NjZxWHhOcVJ0T3hJY2ZZZHVvNWhva09kOFZjN3l5dk9nWmU4SDdkRDBnRHBpeFNLUHUxN1ZUUHRZWUo0aTdyYnhhb1plZk15dUhFQ21uaTNiTzlpVFZ6OWdtYV9QYUd2OW1sRkNLb2ZkNjV3TENCN01PbFRqdkFPSXdQTWZuSUplMGNfaGpyTERxb3JUVmFfQV9HVk1TOTNVWmlTU1EwYVlLUm1KNmx1LWZZWjFXakY3dFVCT2hBSVI4Mk5tNko4X01EdnZCSTBVM2Z2elRWNVhGRVg3Mk04TUxvWlJCWXNVQXhoWVhyckNGeFgwTEE3bnlWZ3NGUnpqMDBhMzF3RkJmVXFrZDdmZ1FOY1loTjg0QW5WMTRRaWpMa3B6XzNXblRoUFdyVDJjVGUyUTJfbkF4eXU0Wjc3TVMxWDNYLUJEeTJBaVBWa3ZsLWs3cDZsT2FnZTc4dk1Id3kxVDU4ZTY2RlZnRzZ1R0l6X3EzZ1BKV19SaFVzcFVPTGFFaS12dFVTRVpHYm5oUXMxX2wyWlp5bmE1czdsVXF6SnRXSmRwY1dvckpvdFVMdlg5NjZYZlJ2RXd6eUhfOXNOX0lsZHRMQTZkb0JwSjJkaGJEUklNTlMyV2ZrbVNMbTk4VFFtYm9MbHVIcGtHNkVzRGJtOUNreFdoLXREc253ZWRzdnBYTVBNQldPQ2JxbXR5RjE5Mm1hNFZ6THBSc0pCTmc0MlRiWWtUX2pCNDVWR1p5emZJdkJnOWFINk1NX2F2cVltUGpvdktwQ1RjIiwicmVmcmVzaF90b2tlbiI6IndOZjg0aWZNRDFVZjJlVERsTGNpTHZPbFhSd0dxOEFKWWxHV1ZZZ3NPRCIsInRva2VuX3R5cGUiOiJCZWFyZXIiLCJleHBpcmVzX2luIjozNTk5fSwiaWF0IjoxNjY0ODg3NjUwLCJleHAiOjE2NjQ5NzQwNTB9.yj1-NT3kMie3Mg1ZTno2dhvUBEgiZJzXpyLl0i_rACE\")\n        .addHeader(\"cache-control\", \"<cache-control>\")\n        .build();\n        Response response = client.newCall(request).execute();\n","lang":"Java"},{"source":"curl --location --request POST 'https://test-api.truckerpath.com/truckload/api/webhooks/add' \\\n--header 'Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjp7InVzZXJJZCI6InZuNTJ1YzUiLCJkaXNwbGF5TmFtZSI6Ik11aGFtbWFkIFNoZXJheiAtIFZlbmRvciIsImdpdmVuTmFtZSI6Ik11aGFtbWFkIiwiZmFtaWx5TmFtZSI6IlNoZXJheiIsIm1haWwiOiJNdWhhbW1hZC5TaGVyYXpAd2FsbWFydC5jb20ifSwidXNlclJvbGVzIjpbXSwidXNlclByaW5jaXBhbE5hbWUiOiJ2bjUydWM1QGhvbWVvZmZpY2Uud2FsLW1hcnQuY29tIiwicGluZ1Rva2VuIjp7ImFjY2Vzc190b2tlbiI6ImV5SmhiR2NpT2lKU1V6STFOaUlzSW10cFpDSTZJbkJtWldSemRHRm5aVjl6YVdkdVgwcDFiSGt5TURJeklpd2ljR2t1WVhSdElqb2lNeUo5LmV5SnpZMjl3WlNJNkltOXdaVzVwWkNCd2NtOW1hV3hsSUdaMWJHd2lMQ0pqYkdsbGJuUmZhV1FpT2lKSlltZFFiM0owWVd4VmFWTjBaeUlzSW1kMWFXUWlPaUpOWmpVMFprb3dORFUzY2poalVFVXpNekJTVlVGeWQxRk1kV0pyTlc5dFJTSXNJbWx6Y3lJNkltaDBkSEJ6T2k4dmNHWmxaR05sY25RdWQyRnNMVzFoY25RdVkyOXRJaXdpYW5ScElqb2lZM3B6V0dKT1NVZ2lMQ0poZFdRaU9pSkpZbWRRYjNKMFlXeFZhVk4wWnlJc0luTjFZaUk2SW5adU5USjFZelZBYUc5dFpXOW1abWxqWlM1M1lXd3RiV0Z5ZEM1amIyMGlMQ0oxY0c0aU9pSjJialV5ZFdNMVFHaHZiV1Z2Wm1acFkyVXVkMkZzTFcxaGNuUXVZMjl0SWl3aWJtSm1Jam94TmpZME9EZzNOVE13TENKcFlYUWlPakUyTmpRNE9EYzJOVEFzSW5WelpYSnBaQ0k2SW5adU5USjFZelVpTENKM2FXNGlPaUpPVDFSZlJrOVZUa1FpTENKbGVIQWlPakUyTmpRNE9URXlOVEI5LktHUGR6OUE3TkZiNjQ5amZmRUVha2dZTkdYVDBhR2pKVUxWcmlUeGppbWNsSEJsMGgtVHJXbVdJTjZOaHZpX25sMzItMnItM042QkpnSnIzbldSQW1BR0xOMUFlSWpTWkR2NjZxWHhOcVJ0T3hJY2ZZZHVvNWhva09kOFZjN3l5dk9nWmU4SDdkRDBnRHBpeFNLUHUxN1ZUUHRZWUo0aTdyYnhhb1plZk15dUhFQ21uaTNiTzlpVFZ6OWdtYV9QYUd2OW1sRkNLb2ZkNjV3TENCN01PbFRqdkFPSXdQTWZuSUplMGNfaGpyTERxb3JUVmFfQV9HVk1TOTNVWmlTU1EwYVlLUm1KNmx1LWZZWjFXakY3dFVCT2hBSVI4Mk5tNko4X01EdnZCSTBVM2Z2elRWNVhGRVg3Mk04TUxvWlJCWXNVQXhoWVhyckNGeFgwTEE3bnlWZ3NGUnpqMDBhMzF3RkJmVXFrZDdmZ1FOY1loTjg0QW5WMTRRaWpMa3B6XzNXblRoUFdyVDJjVGUyUTJfbkF4eXU0Wjc3TVMxWDNYLUJEeTJBaVBWa3ZsLWs3cDZsT2FnZTc4dk1Id3kxVDU4ZTY2RlZnRzZ1R0l6X3EzZ1BKV19SaFVzcFVPTGFFaS12dFVTRVpHYm5oUXMxX2wyWlp5bmE1czdsVXF6SnRXSmRwY1dvckpvdFVMdlg5NjZYZlJ2RXd6eUhfOXNOX0lsZHRMQTZkb0JwSjJkaGJEUklNTlMyV2ZrbVNMbTk4VFFtYm9MbHVIcGtHNkVzRGJtOUNreFdoLXREc253ZWRzdnBYTVBNQldPQ2JxbXR5RjE5Mm1hNFZ6THBSc0pCTmc0MlRiWWtUX2pCNDVWR1p5emZJdkJnOWFINk1NX2F2cVltUGpvdktwQ1RjIiwicmVmcmVzaF90b2tlbiI6IndOZjg0aWZNRDFVZjJlVERsTGNpTHZPbFhSd0dxOEFKWWxHV1ZZZ3NPRCIsInRva2VuX3R5cGUiOiJCZWFyZXIiLCJleHBpcmVzX2luIjozNTk5fSwiaWF0IjoxNjY0ODg3NjUwLCJleHAiOjE2NjQ5NzQwNTB9.yj1-NT3kMie3Mg1ZTno2dhvUBEgiZJzXpyLl0i_rACE' \\\n--header 'cache-control: <cache-control>' \\\n--data-raw '{\n    \"url\":\"https://go.takeleft.co/truckerpath?\",\n    \"type\":\"BOOK\"\n}'\n","lang":"CURL"},{"source":"var request = require('request');\nvar options = {\n    'method': 'POST',\n    'url': 'https://test-api.truckerpath.com/truckload/api/webhooks/add',\n    'headers': {\n        'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjp7InVzZXJJZCI6InZuNTJ1YzUiLCJkaXNwbGF5TmFtZSI6Ik11aGFtbWFkIFNoZXJheiAtIFZlbmRvciIsImdpdmVuTmFtZSI6Ik11aGFtbWFkIiwiZmFtaWx5TmFtZSI6IlNoZXJheiIsIm1haWwiOiJNdWhhbW1hZC5TaGVyYXpAd2FsbWFydC5jb20ifSwidXNlclJvbGVzIjpbXSwidXNlclByaW5jaXBhbE5hbWUiOiJ2bjUydWM1QGhvbWVvZmZpY2Uud2FsLW1hcnQuY29tIiwicGluZ1Rva2VuIjp7ImFjY2Vzc190b2tlbiI6ImV5SmhiR2NpT2lKU1V6STFOaUlzSW10cFpDSTZJbkJtWldSemRHRm5aVjl6YVdkdVgwcDFiSGt5TURJeklpd2ljR2t1WVhSdElqb2lNeUo5LmV5SnpZMjl3WlNJNkltOXdaVzVwWkNCd2NtOW1hV3hsSUdaMWJHd2lMQ0pqYkdsbGJuUmZhV1FpT2lKSlltZFFiM0owWVd4VmFWTjBaeUlzSW1kMWFXUWlPaUpOWmpVMFprb3dORFUzY2poalVFVXpNekJTVlVGeWQxRk1kV0pyTlc5dFJTSXNJbWx6Y3lJNkltaDBkSEJ6T2k4dmNHWmxaR05sY25RdWQyRnNMVzFoY25RdVkyOXRJaXdpYW5ScElqb2lZM3B6V0dKT1NVZ2lMQ0poZFdRaU9pSkpZbWRRYjNKMFlXeFZhVk4wWnlJc0luTjFZaUk2SW5adU5USjFZelZBYUc5dFpXOW1abWxqWlM1M1lXd3RiV0Z5ZEM1amIyMGlMQ0oxY0c0aU9pSjJialV5ZFdNMVFHaHZiV1Z2Wm1acFkyVXVkMkZzTFcxaGNuUXVZMjl0SWl3aWJtSm1Jam94TmpZME9EZzNOVE13TENKcFlYUWlPakUyTmpRNE9EYzJOVEFzSW5WelpYSnBaQ0k2SW5adU5USjFZelVpTENKM2FXNGlPaUpPVDFSZlJrOVZUa1FpTENKbGVIQWlPakUyTmpRNE9URXlOVEI5LktHUGR6OUE3TkZiNjQ5amZmRUVha2dZTkdYVDBhR2pKVUxWcmlUeGppbWNsSEJsMGgtVHJXbVdJTjZOaHZpX25sMzItMnItM042QkpnSnIzbldSQW1BR0xOMUFlSWpTWkR2NjZxWHhOcVJ0T3hJY2ZZZHVvNWhva09kOFZjN3l5dk9nWmU4SDdkRDBnRHBpeFNLUHUxN1ZUUHRZWUo0aTdyYnhhb1plZk15dUhFQ21uaTNiTzlpVFZ6OWdtYV9QYUd2OW1sRkNLb2ZkNjV3TENCN01PbFRqdkFPSXdQTWZuSUplMGNfaGpyTERxb3JUVmFfQV9HVk1TOTNVWmlTU1EwYVlLUm1KNmx1LWZZWjFXakY3dFVCT2hBSVI4Mk5tNko4X01EdnZCSTBVM2Z2elRWNVhGRVg3Mk04TUxvWlJCWXNVQXhoWVhyckNGeFgwTEE3bnlWZ3NGUnpqMDBhMzF3RkJmVXFrZDdmZ1FOY1loTjg0QW5WMTRRaWpMa3B6XzNXblRoUFdyVDJjVGUyUTJfbkF4eXU0Wjc3TVMxWDNYLUJEeTJBaVBWa3ZsLWs3cDZsT2FnZTc4dk1Id3kxVDU4ZTY2RlZnRzZ1R0l6X3EzZ1BKV19SaFVzcFVPTGFFaS12dFVTRVpHYm5oUXMxX2wyWlp5bmE1czdsVXF6SnRXSmRwY1dvckpvdFVMdlg5NjZYZlJ2RXd6eUhfOXNOX0lsZHRMQTZkb0JwSjJkaGJEUklNTlMyV2ZrbVNMbTk4VFFtYm9MbHVIcGtHNkVzRGJtOUNreFdoLXREc253ZWRzdnBYTVBNQldPQ2JxbXR5RjE5Mm1hNFZ6THBSc0pCTmc0MlRiWWtUX2pCNDVWR1p5emZJdkJnOWFINk1NX2F2cVltUGpvdktwQ1RjIiwicmVmcmVzaF90b2tlbiI6IndOZjg0aWZNRDFVZjJlVERsTGNpTHZPbFhSd0dxOEFKWWxHV1ZZZ3NPRCIsInRva2VuX3R5cGUiOiJCZWFyZXIiLCJleHBpcmVzX2luIjozNTk5fSwiaWF0IjoxNjY0ODg3NjUwLCJleHAiOjE2NjQ5NzQwNTB9.yj1-NT3kMie3Mg1ZTno2dhvUBEgiZJzXpyLl0i_rACE',\n        'cache-control': '<cache-control>'\n    },\n    body: JSON.stringify({\n        \"url\": \"https://go.takeleft.co/truckerpath?\",\n        \"type\": \"BOOK\"\n    })\n\n};\nrequest(options, function (error, response) {\n    if (error) throw new Error(error);\n    console.log(response.body);\n});\n","lang":"JavaScript"},{"source":"package main\n\nimport (\n   \"fmt\"\n   \"strings\"\n   \"net/http\"\n   \"io/ioutil\"\n)\n\nfunc main() {\n\n   url := \"https://test-api.truckerpath.com/truckload/api/webhooks/add\"\n   method := \"POST\"\n\n   payload := strings.NewReader(`{\n    \"url\":\"https://go.takeleft.co/truckerpath?\",\n    \"type\":\"BOOK\"\n}`)\n\n   client := &http.Client {\n   }\n   req, err := http.NewRequest(method, url, payload)\n\n   if err != nil {\n      fmt.Println(err)\n      return\n   }\n   req.Header.Add(\"Authorization\", \"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjp7InVzZXJJZCI6InZuNTJ1YzUiLCJkaXNwbGF5TmFtZSI6Ik11aGFtbWFkIFNoZXJheiAtIFZlbmRvciIsImdpdmVuTmFtZSI6Ik11aGFtbWFkIiwiZmFtaWx5TmFtZSI6IlNoZXJheiIsIm1haWwiOiJNdWhhbW1hZC5TaGVyYXpAd2FsbWFydC5jb20ifSwidXNlclJvbGVzIjpbXSwidXNlclByaW5jaXBhbE5hbWUiOiJ2bjUydWM1QGhvbWVvZmZpY2Uud2FsLW1hcnQuY29tIiwicGluZ1Rva2VuIjp7ImFjY2Vzc190b2tlbiI6ImV5SmhiR2NpT2lKU1V6STFOaUlzSW10cFpDSTZJbkJtWldSemRHRm5aVjl6YVdkdVgwcDFiSGt5TURJeklpd2ljR2t1WVhSdElqb2lNeUo5LmV5SnpZMjl3WlNJNkltOXdaVzVwWkNCd2NtOW1hV3hsSUdaMWJHd2lMQ0pqYkdsbGJuUmZhV1FpT2lKSlltZFFiM0owWVd4VmFWTjBaeUlzSW1kMWFXUWlPaUpOWmpVMFprb3dORFUzY2poalVFVXpNekJTVlVGeWQxRk1kV0pyTlc5dFJTSXNJbWx6Y3lJNkltaDBkSEJ6T2k4dmNHWmxaR05sY25RdWQyRnNMVzFoY25RdVkyOXRJaXdpYW5ScElqb2lZM3B6V0dKT1NVZ2lMQ0poZFdRaU9pSkpZbWRRYjNKMFlXeFZhVk4wWnlJc0luTjFZaUk2SW5adU5USjFZelZBYUc5dFpXOW1abWxqWlM1M1lXd3RiV0Z5ZEM1amIyMGlMQ0oxY0c0aU9pSjJialV5ZFdNMVFHaHZiV1Z2Wm1acFkyVXVkMkZzTFcxaGNuUXVZMjl0SWl3aWJtSm1Jam94TmpZME9EZzNOVE13TENKcFlYUWlPakUyTmpRNE9EYzJOVEFzSW5WelpYSnBaQ0k2SW5adU5USjFZelVpTENKM2FXNGlPaUpPVDFSZlJrOVZUa1FpTENKbGVIQWlPakUyTmpRNE9URXlOVEI5LktHUGR6OUE3TkZiNjQ5amZmRUVha2dZTkdYVDBhR2pKVUxWcmlUeGppbWNsSEJsMGgtVHJXbVdJTjZOaHZpX25sMzItMnItM042QkpnSnIzbldSQW1BR0xOMUFlSWpTWkR2NjZxWHhOcVJ0T3hJY2ZZZHVvNWhva09kOFZjN3l5dk9nWmU4SDdkRDBnRHBpeFNLUHUxN1ZUUHRZWUo0aTdyYnhhb1plZk15dUhFQ21uaTNiTzlpVFZ6OWdtYV9QYUd2OW1sRkNLb2ZkNjV3TENCN01PbFRqdkFPSXdQTWZuSUplMGNfaGpyTERxb3JUVmFfQV9HVk1TOTNVWmlTU1EwYVlLUm1KNmx1LWZZWjFXakY3dFVCT2hBSVI4Mk5tNko4X01EdnZCSTBVM2Z2elRWNVhGRVg3Mk04TUxvWlJCWXNVQXhoWVhyckNGeFgwTEE3bnlWZ3NGUnpqMDBhMzF3RkJmVXFrZDdmZ1FOY1loTjg0QW5WMTRRaWpMa3B6XzNXblRoUFdyVDJjVGUyUTJfbkF4eXU0Wjc3TVMxWDNYLUJEeTJBaVBWa3ZsLWs3cDZsT2FnZTc4dk1Id3kxVDU4ZTY2RlZnRzZ1R0l6X3EzZ1BKV19SaFVzcFVPTGFFaS12dFVTRVpHYm5oUXMxX2wyWlp5bmE1czdsVXF6SnRXSmRwY1dvckpvdFVMdlg5NjZYZlJ2RXd6eUhfOXNOX0lsZHRMQTZkb0JwSjJkaGJEUklNTlMyV2ZrbVNMbTk4VFFtYm9MbHVIcGtHNkVzRGJtOUNreFdoLXREc253ZWRzdnBYTVBNQldPQ2JxbXR5RjE5Mm1hNFZ6THBSc0pCTmc0MlRiWWtUX2pCNDVWR1p5emZJdkJnOWFINk1NX2F2cVltUGpvdktwQ1RjIiwicmVmcmVzaF90b2tlbiI6IndOZjg0aWZNRDFVZjJlVERsTGNpTHZPbFhSd0dxOEFKWWxHV1ZZZ3NPRCIsInRva2VuX3R5cGUiOiJCZWFyZXIiLCJleHBpcmVzX2luIjozNTk5fSwiaWF0IjoxNjY0ODg3NjUwLCJleHAiOjE2NjQ5NzQwNTB9.yj1-NT3kMie3Mg1ZTno2dhvUBEgiZJzXpyLl0i_rACE\")\n   req.Header.Add(\"cache-control\", \"<cache-control>\")\n\n\n   res, err := client.Do(req)\n   if err != nil {\n      fmt.Println(err)\n      return\n   }\n   defer res.Body.Close()\n\n   body, err := ioutil.ReadAll(res.Body)\n   if err != nil {\n      fmt.Println(err)\n      return\n   }\n   fmt.Println(string(body))\n}\n","lang":"GO"},{"source":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n   CURLOPT_URL => 'https://test-api.truckerpath.com/truckload/api/webhooks/add',\n   CURLOPT_RETURNTRANSFER => true,\n   CURLOPT_ENCODING => '',\n   CURLOPT_MAXREDIRS => 10,\n   CURLOPT_TIMEOUT => 0,\n   CURLOPT_FOLLOWLOCATION => true,\n   CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n   CURLOPT_CUSTOMREQUEST => 'POST',\n   CURLOPT_POSTFIELDS =>'{\n    \"url\":\"https://go.takeleft.co/truckerpath?\",\n    \"type\":\"BOOK\"\n}',\n   CURLOPT_HTTPHEADER => array(\n      'Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjp7InVzZXJJZCI6InZuNTJ1YzUiLCJkaXNwbGF5TmFtZSI6Ik11aGFtbWFkIFNoZXJheiAtIFZlbmRvciIsImdpdmVuTmFtZSI6Ik11aGFtbWFkIiwiZmFtaWx5TmFtZSI6IlNoZXJheiIsIm1haWwiOiJNdWhhbW1hZC5TaGVyYXpAd2FsbWFydC5jb20ifSwidXNlclJvbGVzIjpbXSwidXNlclByaW5jaXBhbE5hbWUiOiJ2bjUydWM1QGhvbWVvZmZpY2Uud2FsLW1hcnQuY29tIiwicGluZ1Rva2VuIjp7ImFjY2Vzc190b2tlbiI6ImV5SmhiR2NpT2lKU1V6STFOaUlzSW10cFpDSTZJbkJtWldSemRHRm5aVjl6YVdkdVgwcDFiSGt5TURJeklpd2ljR2t1WVhSdElqb2lNeUo5LmV5SnpZMjl3WlNJNkltOXdaVzVwWkNCd2NtOW1hV3hsSUdaMWJHd2lMQ0pqYkdsbGJuUmZhV1FpT2lKSlltZFFiM0owWVd4VmFWTjBaeUlzSW1kMWFXUWlPaUpOWmpVMFprb3dORFUzY2poalVFVXpNekJTVlVGeWQxRk1kV0pyTlc5dFJTSXNJbWx6Y3lJNkltaDBkSEJ6T2k4dmNHWmxaR05sY25RdWQyRnNMVzFoY25RdVkyOXRJaXdpYW5ScElqb2lZM3B6V0dKT1NVZ2lMQ0poZFdRaU9pSkpZbWRRYjNKMFlXeFZhVk4wWnlJc0luTjFZaUk2SW5adU5USjFZelZBYUc5dFpXOW1abWxqWlM1M1lXd3RiV0Z5ZEM1amIyMGlMQ0oxY0c0aU9pSjJialV5ZFdNMVFHaHZiV1Z2Wm1acFkyVXVkMkZzTFcxaGNuUXVZMjl0SWl3aWJtSm1Jam94TmpZME9EZzNOVE13TENKcFlYUWlPakUyTmpRNE9EYzJOVEFzSW5WelpYSnBaQ0k2SW5adU5USjFZelVpTENKM2FXNGlPaUpPVDFSZlJrOVZUa1FpTENKbGVIQWlPakUyTmpRNE9URXlOVEI5LktHUGR6OUE3TkZiNjQ5amZmRUVha2dZTkdYVDBhR2pKVUxWcmlUeGppbWNsSEJsMGgtVHJXbVdJTjZOaHZpX25sMzItMnItM042QkpnSnIzbldSQW1BR0xOMUFlSWpTWkR2NjZxWHhOcVJ0T3hJY2ZZZHVvNWhva09kOFZjN3l5dk9nWmU4SDdkRDBnRHBpeFNLUHUxN1ZUUHRZWUo0aTdyYnhhb1plZk15dUhFQ21uaTNiTzlpVFZ6OWdtYV9QYUd2OW1sRkNLb2ZkNjV3TENCN01PbFRqdkFPSXdQTWZuSUplMGNfaGpyTERxb3JUVmFfQV9HVk1TOTNVWmlTU1EwYVlLUm1KNmx1LWZZWjFXakY3dFVCT2hBSVI4Mk5tNko4X01EdnZCSTBVM2Z2elRWNVhGRVg3Mk04TUxvWlJCWXNVQXhoWVhyckNGeFgwTEE3bnlWZ3NGUnpqMDBhMzF3RkJmVXFrZDdmZ1FOY1loTjg0QW5WMTRRaWpMa3B6XzNXblRoUFdyVDJjVGUyUTJfbkF4eXU0Wjc3TVMxWDNYLUJEeTJBaVBWa3ZsLWs3cDZsT2FnZTc4dk1Id3kxVDU4ZTY2RlZnRzZ1R0l6X3EzZ1BKV19SaFVzcFVPTGFFaS12dFVTRVpHYm5oUXMxX2wyWlp5bmE1czdsVXF6SnRXSmRwY1dvckpvdFVMdlg5NjZYZlJ2RXd6eUhfOXNOX0lsZHRMQTZkb0JwSjJkaGJEUklNTlMyV2ZrbVNMbTk4VFFtYm9MbHVIcGtHNkVzRGJtOUNreFdoLXREc253ZWRzdnBYTVBNQldPQ2JxbXR5RjE5Mm1hNFZ6THBSc0pCTmc0MlRiWWtUX2pCNDVWR1p5emZJdkJnOWFINk1NX2F2cVltUGpvdktwQ1RjIiwicmVmcmVzaF90b2tlbiI6IndOZjg0aWZNRDFVZjJlVERsTGNpTHZPbFhSd0dxOEFKWWxHV1ZZZ3NPRCIsInRva2VuX3R5cGUiOiJCZWFyZXIiLCJleHBpcmVzX2luIjozNTk5fSwiaWF0IjoxNjY0ODg3NjUwLCJleHAiOjE2NjQ5NzQwNTB9.yj1-NT3kMie3Mg1ZTno2dhvUBEgiZJzXpyLl0i_rACE',\n      'cache-control: <cache-control>'\n   ),\n));\n\n$response = curl_exec($curl);\n\ncurl_close($curl);\necho $response;\n","lang":"PHP"},{"source":"import requests\n\nurl = \"https://test-api.truckerpath.com/truckload/api/webhooks/add\"\n\npayload = json.dumps({\n   \"url\": \"https://go.takeleft.co/truckerpath?\",\n   \"type\": \"BOOK\"\n})\nheaders = {\n   'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjp7InVzZXJJZCI6InZuNTJ1YzUiLCJkaXNwbGF5TmFtZSI6Ik11aGFtbWFkIFNoZXJheiAtIFZlbmRvciIsImdpdmVuTmFtZSI6Ik11aGFtbWFkIiwiZmFtaWx5TmFtZSI6IlNoZXJheiIsIm1haWwiOiJNdWhhbW1hZC5TaGVyYXpAd2FsbWFydC5jb20ifSwidXNlclJvbGVzIjpbXSwidXNlclByaW5jaXBhbE5hbWUiOiJ2bjUydWM1QGhvbWVvZmZpY2Uud2FsLW1hcnQuY29tIiwicGluZ1Rva2VuIjp7ImFjY2Vzc190b2tlbiI6ImV5SmhiR2NpT2lKU1V6STFOaUlzSW10cFpDSTZJbkJtWldSemRHRm5aVjl6YVdkdVgwcDFiSGt5TURJeklpd2ljR2t1WVhSdElqb2lNeUo5LmV5SnpZMjl3WlNJNkltOXdaVzVwWkNCd2NtOW1hV3hsSUdaMWJHd2lMQ0pqYkdsbGJuUmZhV1FpT2lKSlltZFFiM0owWVd4VmFWTjBaeUlzSW1kMWFXUWlPaUpOWmpVMFprb3dORFUzY2poalVFVXpNekJTVlVGeWQxRk1kV0pyTlc5dFJTSXNJbWx6Y3lJNkltaDBkSEJ6T2k4dmNHWmxaR05sY25RdWQyRnNMVzFoY25RdVkyOXRJaXdpYW5ScElqb2lZM3B6V0dKT1NVZ2lMQ0poZFdRaU9pSkpZbWRRYjNKMFlXeFZhVk4wWnlJc0luTjFZaUk2SW5adU5USjFZelZBYUc5dFpXOW1abWxqWlM1M1lXd3RiV0Z5ZEM1amIyMGlMQ0oxY0c0aU9pSjJialV5ZFdNMVFHaHZiV1Z2Wm1acFkyVXVkMkZzTFcxaGNuUXVZMjl0SWl3aWJtSm1Jam94TmpZME9EZzNOVE13TENKcFlYUWlPakUyTmpRNE9EYzJOVEFzSW5WelpYSnBaQ0k2SW5adU5USjFZelVpTENKM2FXNGlPaUpPVDFSZlJrOVZUa1FpTENKbGVIQWlPakUyTmpRNE9URXlOVEI5LktHUGR6OUE3TkZiNjQ5amZmRUVha2dZTkdYVDBhR2pKVUxWcmlUeGppbWNsSEJsMGgtVHJXbVdJTjZOaHZpX25sMzItMnItM042QkpnSnIzbldSQW1BR0xOMUFlSWpTWkR2NjZxWHhOcVJ0T3hJY2ZZZHVvNWhva09kOFZjN3l5dk9nWmU4SDdkRDBnRHBpeFNLUHUxN1ZUUHRZWUo0aTdyYnhhb1plZk15dUhFQ21uaTNiTzlpVFZ6OWdtYV9QYUd2OW1sRkNLb2ZkNjV3TENCN01PbFRqdkFPSXdQTWZuSUplMGNfaGpyTERxb3JUVmFfQV9HVk1TOTNVWmlTU1EwYVlLUm1KNmx1LWZZWjFXakY3dFVCT2hBSVI4Mk5tNko4X01EdnZCSTBVM2Z2elRWNVhGRVg3Mk04TUxvWlJCWXNVQXhoWVhyckNGeFgwTEE3bnlWZ3NGUnpqMDBhMzF3RkJmVXFrZDdmZ1FOY1loTjg0QW5WMTRRaWpMa3B6XzNXblRoUFdyVDJjVGUyUTJfbkF4eXU0Wjc3TVMxWDNYLUJEeTJBaVBWa3ZsLWs3cDZsT2FnZTc4dk1Id3kxVDU4ZTY2RlZnRzZ1R0l6X3EzZ1BKV19SaFVzcFVPTGFFaS12dFVTRVpHYm5oUXMxX2wyWlp5bmE1czdsVXF6SnRXSmRwY1dvckpvdFVMdlg5NjZYZlJ2RXd6eUhfOXNOX0lsZHRMQTZkb0JwSjJkaGJEUklNTlMyV2ZrbVNMbTk4VFFtYm9MbHVIcGtHNkVzRGJtOUNreFdoLXREc253ZWRzdnBYTVBNQldPQ2JxbXR5RjE5Mm1hNFZ6THBSc0pCTmc0MlRiWWtUX2pCNDVWR1p5emZJdkJnOWFINk1NX2F2cVltUGpvdktwQ1RjIiwicmVmcmVzaF90b2tlbiI6IndOZjg0aWZNRDFVZjJlVERsTGNpTHZPbFhSd0dxOEFKWWxHV1ZZZ3NPRCIsInRva2VuX3R5cGUiOiJCZWFyZXIiLCJleHBpcmVzX2luIjozNTk5fSwiaWF0IjoxNjY0ODg3NjUwLCJleHAiOjE2NjQ5NzQwNTB9.yj1-NT3kMie3Mg1ZTno2dhvUBEgiZJzXpyLl0i_rACE',\n   'cache-control': '<cache-control>'\n}\n\nresponse = requests.request(\"POST\", url, headers=headers, data=payload)\n\nprint(response.text)\n","lang":"Python"}]}},"/api/tracking/search":{"post":{"tags":["3. Visibility APIs"],"summary":"Tracking List","description":"Get a list of tracking items with filters.","operationId":"queryTracking","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrackingListQueryDto"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseExample403"}}}},"500":{"description":"Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseExample500"}}}},"401":{"description":"Not Authorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseExample401"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrackingListVo"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseExample404"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseExample400"}}}}},"security":[{"Authorization":[]}],"x-code-samples":[{"source":"OkHttpClient client = new OkHttpClient().newBuilder()\n        .build();\n        MediaType mediaType = MediaType.parse(\"application/json\");\n        RequestBody body = RequestBody.create(mediaType, \"{\\n    \\\"status\\\": \\\"ullamco\\\",\\n    \\\"page\\\": 37,\\n    \\\"page_size\\\": 95\\n}\");\n        Request request = new Request.Builder()\n        .url(\"https://test-api.truckerpath.com/truckload/api/tracking/search\")\n        .method(\"POST\", body)\n        .addHeader(\"Authorization\", \"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjp7InVzZXJJZCI6InZuNTJ1YzUiLCJkaXNwbGF5TmFtZSI6Ik11aGFtbWFkIFNoZXJheiAtIFZlbmRvciIsImdpdmVuTmFtZSI6Ik11aGFtbWFkIiwiZmFtaWx5TmFtZSI6IlNoZXJheiIsIm1haWwiOiJNdWhhbW1hZC5TaGVyYXpAd2FsbWFydC5jb20ifSwidXNlclJvbGVzIjpbXSwidXNlclByaW5jaXBhbE5hbWUiOiJ2bjUydWM1QGhvbWVvZmZpY2Uud2FsLW1hcnQuY29tIiwicGluZ1Rva2VuIjp7ImFjY2Vzc190b2tlbiI6ImV5SmhiR2NpT2lKU1V6STFOaUlzSW10cFpDSTZJbkJtWldSemRHRm5aVjl6YVdkdVgwcDFiSGt5TURJeklpd2ljR2t1WVhSdElqb2lNeUo5LmV5SnpZMjl3WlNJNkltOXdaVzVwWkNCd2NtOW1hV3hsSUdaMWJHd2lMQ0pqYkdsbGJuUmZhV1FpT2lKSlltZFFiM0owWVd4VmFWTjBaeUlzSW1kMWFXUWlPaUpOWmpVMFprb3dORFUzY2poalVFVXpNekJTVlVGeWQxRk1kV0pyTlc5dFJTSXNJbWx6Y3lJNkltaDBkSEJ6T2k4dmNHWmxaR05sY25RdWQyRnNMVzFoY25RdVkyOXRJaXdpYW5ScElqb2lZM3B6V0dKT1NVZ2lMQ0poZFdRaU9pSkpZbWRRYjNKMFlXeFZhVk4wWnlJc0luTjFZaUk2SW5adU5USjFZelZBYUc5dFpXOW1abWxqWlM1M1lXd3RiV0Z5ZEM1amIyMGlMQ0oxY0c0aU9pSjJialV5ZFdNMVFHaHZiV1Z2Wm1acFkyVXVkMkZzTFcxaGNuUXVZMjl0SWl3aWJtSm1Jam94TmpZME9EZzNOVE13TENKcFlYUWlPakUyTmpRNE9EYzJOVEFzSW5WelpYSnBaQ0k2SW5adU5USjFZelVpTENKM2FXNGlPaUpPVDFSZlJrOVZUa1FpTENKbGVIQWlPakUyTmpRNE9URXlOVEI5LktHUGR6OUE3TkZiNjQ5amZmRUVha2dZTkdYVDBhR2pKVUxWcmlUeGppbWNsSEJsMGgtVHJXbVdJTjZOaHZpX25sMzItMnItM042QkpnSnIzbldSQW1BR0xOMUFlSWpTWkR2NjZxWHhOcVJ0T3hJY2ZZZHVvNWhva09kOFZjN3l5dk9nWmU4SDdkRDBnRHBpeFNLUHUxN1ZUUHRZWUo0aTdyYnhhb1plZk15dUhFQ21uaTNiTzlpVFZ6OWdtYV9QYUd2OW1sRkNLb2ZkNjV3TENCN01PbFRqdkFPSXdQTWZuSUplMGNfaGpyTERxb3JUVmFfQV9HVk1TOTNVWmlTU1EwYVlLUm1KNmx1LWZZWjFXakY3dFVCT2hBSVI4Mk5tNko4X01EdnZCSTBVM2Z2elRWNVhGRVg3Mk04TUxvWlJCWXNVQXhoWVhyckNGeFgwTEE3bnlWZ3NGUnpqMDBhMzF3RkJmVXFrZDdmZ1FOY1loTjg0QW5WMTRRaWpMa3B6XzNXblRoUFdyVDJjVGUyUTJfbkF4eXU0Wjc3TVMxWDNYLUJEeTJBaVBWa3ZsLWs3cDZsT2FnZTc4dk1Id3kxVDU4ZTY2RlZnRzZ1R0l6X3EzZ1BKV19SaFVzcFVPTGFFaS12dFVTRVpHYm5oUXMxX2wyWlp5bmE1czdsVXF6SnRXSmRwY1dvckpvdFVMdlg5NjZYZlJ2RXd6eUhfOXNOX0lsZHRMQTZkb0JwSjJkaGJEUklNTlMyV2ZrbVNMbTk4VFFtYm9MbHVIcGtHNkVzRGJtOUNreFdoLXREc253ZWRzdnBYTVBNQldPQ2JxbXR5RjE5Mm1hNFZ6THBSc0pCTmc0MlRiWWtUX2pCNDVWR1p5emZJdkJnOWFINk1NX2F2cVltUGpvdktwQ1RjIiwicmVmcmVzaF90b2tlbiI6IndOZjg0aWZNRDFVZjJlVERsTGNpTHZPbFhSd0dxOEFKWWxHV1ZZZ3NPRCIsInRva2VuX3R5cGUiOiJCZWFyZXIiLCJleHBpcmVzX2luIjozNTk5fSwiaWF0IjoxNjY0ODg3NjUwLCJleHAiOjE2NjQ5NzQwNTB9.yj1-NT3kMie3Mg1ZTno2dhvUBEgiZJzXpyLl0i_rACE\")\n        .addHeader(\"Content-Type\", \"application/json\")\n        .build();\n        Response response = client.newCall(request).execute();\n","lang":"Java"},{"source":"curl --location --request POST 'https://test-api.truckerpath.com/truckload/api/tracking/search' \\\n--header 'Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjp7InVzZXJJZCI6InZuNTJ1YzUiLCJkaXNwbGF5TmFtZSI6Ik11aGFtbWFkIFNoZXJheiAtIFZlbmRvciIsImdpdmVuTmFtZSI6Ik11aGFtbWFkIiwiZmFtaWx5TmFtZSI6IlNoZXJheiIsIm1haWwiOiJNdWhhbW1hZC5TaGVyYXpAd2FsbWFydC5jb20ifSwidXNlclJvbGVzIjpbXSwidXNlclByaW5jaXBhbE5hbWUiOiJ2bjUydWM1QGhvbWVvZmZpY2Uud2FsLW1hcnQuY29tIiwicGluZ1Rva2VuIjp7ImFjY2Vzc190b2tlbiI6ImV5SmhiR2NpT2lKU1V6STFOaUlzSW10cFpDSTZJbkJtWldSemRHRm5aVjl6YVdkdVgwcDFiSGt5TURJeklpd2ljR2t1WVhSdElqb2lNeUo5LmV5SnpZMjl3WlNJNkltOXdaVzVwWkNCd2NtOW1hV3hsSUdaMWJHd2lMQ0pqYkdsbGJuUmZhV1FpT2lKSlltZFFiM0owWVd4VmFWTjBaeUlzSW1kMWFXUWlPaUpOWmpVMFprb3dORFUzY2poalVFVXpNekJTVlVGeWQxRk1kV0pyTlc5dFJTSXNJbWx6Y3lJNkltaDBkSEJ6T2k4dmNHWmxaR05sY25RdWQyRnNMVzFoY25RdVkyOXRJaXdpYW5ScElqb2lZM3B6V0dKT1NVZ2lMQ0poZFdRaU9pSkpZbWRRYjNKMFlXeFZhVk4wWnlJc0luTjFZaUk2SW5adU5USjFZelZBYUc5dFpXOW1abWxqWlM1M1lXd3RiV0Z5ZEM1amIyMGlMQ0oxY0c0aU9pSjJialV5ZFdNMVFHaHZiV1Z2Wm1acFkyVXVkMkZzTFcxaGNuUXVZMjl0SWl3aWJtSm1Jam94TmpZME9EZzNOVE13TENKcFlYUWlPakUyTmpRNE9EYzJOVEFzSW5WelpYSnBaQ0k2SW5adU5USjFZelVpTENKM2FXNGlPaUpPVDFSZlJrOVZUa1FpTENKbGVIQWlPakUyTmpRNE9URXlOVEI5LktHUGR6OUE3TkZiNjQ5amZmRUVha2dZTkdYVDBhR2pKVUxWcmlUeGppbWNsSEJsMGgtVHJXbVdJTjZOaHZpX25sMzItMnItM042QkpnSnIzbldSQW1BR0xOMUFlSWpTWkR2NjZxWHhOcVJ0T3hJY2ZZZHVvNWhva09kOFZjN3l5dk9nWmU4SDdkRDBnRHBpeFNLUHUxN1ZUUHRZWUo0aTdyYnhhb1plZk15dUhFQ21uaTNiTzlpVFZ6OWdtYV9QYUd2OW1sRkNLb2ZkNjV3TENCN01PbFRqdkFPSXdQTWZuSUplMGNfaGpyTERxb3JUVmFfQV9HVk1TOTNVWmlTU1EwYVlLUm1KNmx1LWZZWjFXakY3dFVCT2hBSVI4Mk5tNko4X01EdnZCSTBVM2Z2elRWNVhGRVg3Mk04TUxvWlJCWXNVQXhoWVhyckNGeFgwTEE3bnlWZ3NGUnpqMDBhMzF3RkJmVXFrZDdmZ1FOY1loTjg0QW5WMTRRaWpMa3B6XzNXblRoUFdyVDJjVGUyUTJfbkF4eXU0Wjc3TVMxWDNYLUJEeTJBaVBWa3ZsLWs3cDZsT2FnZTc4dk1Id3kxVDU4ZTY2RlZnRzZ1R0l6X3EzZ1BKV19SaFVzcFVPTGFFaS12dFVTRVpHYm5oUXMxX2wyWlp5bmE1czdsVXF6SnRXSmRwY1dvckpvdFVMdlg5NjZYZlJ2RXd6eUhfOXNOX0lsZHRMQTZkb0JwSjJkaGJEUklNTlMyV2ZrbVNMbTk4VFFtYm9MbHVIcGtHNkVzRGJtOUNreFdoLXREc253ZWRzdnBYTVBNQldPQ2JxbXR5RjE5Mm1hNFZ6THBSc0pCTmc0MlRiWWtUX2pCNDVWR1p5emZJdkJnOWFINk1NX2F2cVltUGpvdktwQ1RjIiwicmVmcmVzaF90b2tlbiI6IndOZjg0aWZNRDFVZjJlVERsTGNpTHZPbFhSd0dxOEFKWWxHV1ZZZ3NPRCIsInRva2VuX3R5cGUiOiJCZWFyZXIiLCJleHBpcmVzX2luIjozNTk5fSwiaWF0IjoxNjY0ODg3NjUwLCJleHAiOjE2NjQ5NzQwNTB9.yj1-NT3kMie3Mg1ZTno2dhvUBEgiZJzXpyLl0i_rACE' \\\n--header 'Content-Type: application/json' \\\n--data-raw '{\n    \"status\": \"ullamco\",\n    \"page\": 37,\n    \"page_size\": 95\n}'\n","lang":"CURL"},{"source":"var request = require('request');\nvar options = {\n    'method': 'POST',\n    'url': 'https://test-api.truckerpath.com/truckload/api/tracking/search',\n    'headers': {\n        'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjp7InVzZXJJZCI6InZuNTJ1YzUiLCJkaXNwbGF5TmFtZSI6Ik11aGFtbWFkIFNoZXJheiAtIFZlbmRvciIsImdpdmVuTmFtZSI6Ik11aGFtbWFkIiwiZmFtaWx5TmFtZSI6IlNoZXJheiIsIm1haWwiOiJNdWhhbW1hZC5TaGVyYXpAd2FsbWFydC5jb20ifSwidXNlclJvbGVzIjpbXSwidXNlclByaW5jaXBhbE5hbWUiOiJ2bjUydWM1QGhvbWVvZmZpY2Uud2FsLW1hcnQuY29tIiwicGluZ1Rva2VuIjp7ImFjY2Vzc190b2tlbiI6ImV5SmhiR2NpT2lKU1V6STFOaUlzSW10cFpDSTZJbkJtWldSemRHRm5aVjl6YVdkdVgwcDFiSGt5TURJeklpd2ljR2t1WVhSdElqb2lNeUo5LmV5SnpZMjl3WlNJNkltOXdaVzVwWkNCd2NtOW1hV3hsSUdaMWJHd2lMQ0pqYkdsbGJuUmZhV1FpT2lKSlltZFFiM0owWVd4VmFWTjBaeUlzSW1kMWFXUWlPaUpOWmpVMFprb3dORFUzY2poalVFVXpNekJTVlVGeWQxRk1kV0pyTlc5dFJTSXNJbWx6Y3lJNkltaDBkSEJ6T2k4dmNHWmxaR05sY25RdWQyRnNMVzFoY25RdVkyOXRJaXdpYW5ScElqb2lZM3B6V0dKT1NVZ2lMQ0poZFdRaU9pSkpZbWRRYjNKMFlXeFZhVk4wWnlJc0luTjFZaUk2SW5adU5USjFZelZBYUc5dFpXOW1abWxqWlM1M1lXd3RiV0Z5ZEM1amIyMGlMQ0oxY0c0aU9pSjJialV5ZFdNMVFHaHZiV1Z2Wm1acFkyVXVkMkZzTFcxaGNuUXVZMjl0SWl3aWJtSm1Jam94TmpZME9EZzNOVE13TENKcFlYUWlPakUyTmpRNE9EYzJOVEFzSW5WelpYSnBaQ0k2SW5adU5USjFZelVpTENKM2FXNGlPaUpPVDFSZlJrOVZUa1FpTENKbGVIQWlPakUyTmpRNE9URXlOVEI5LktHUGR6OUE3TkZiNjQ5amZmRUVha2dZTkdYVDBhR2pKVUxWcmlUeGppbWNsSEJsMGgtVHJXbVdJTjZOaHZpX25sMzItMnItM042QkpnSnIzbldSQW1BR0xOMUFlSWpTWkR2NjZxWHhOcVJ0T3hJY2ZZZHVvNWhva09kOFZjN3l5dk9nWmU4SDdkRDBnRHBpeFNLUHUxN1ZUUHRZWUo0aTdyYnhhb1plZk15dUhFQ21uaTNiTzlpVFZ6OWdtYV9QYUd2OW1sRkNLb2ZkNjV3TENCN01PbFRqdkFPSXdQTWZuSUplMGNfaGpyTERxb3JUVmFfQV9HVk1TOTNVWmlTU1EwYVlLUm1KNmx1LWZZWjFXakY3dFVCT2hBSVI4Mk5tNko4X01EdnZCSTBVM2Z2elRWNVhGRVg3Mk04TUxvWlJCWXNVQXhoWVhyckNGeFgwTEE3bnlWZ3NGUnpqMDBhMzF3RkJmVXFrZDdmZ1FOY1loTjg0QW5WMTRRaWpMa3B6XzNXblRoUFdyVDJjVGUyUTJfbkF4eXU0Wjc3TVMxWDNYLUJEeTJBaVBWa3ZsLWs3cDZsT2FnZTc4dk1Id3kxVDU4ZTY2RlZnRzZ1R0l6X3EzZ1BKV19SaFVzcFVPTGFFaS12dFVTRVpHYm5oUXMxX2wyWlp5bmE1czdsVXF6SnRXSmRwY1dvckpvdFVMdlg5NjZYZlJ2RXd6eUhfOXNOX0lsZHRMQTZkb0JwSjJkaGJEUklNTlMyV2ZrbVNMbTk4VFFtYm9MbHVIcGtHNkVzRGJtOUNreFdoLXREc253ZWRzdnBYTVBNQldPQ2JxbXR5RjE5Mm1hNFZ6THBSc0pCTmc0MlRiWWtUX2pCNDVWR1p5emZJdkJnOWFINk1NX2F2cVltUGpvdktwQ1RjIiwicmVmcmVzaF90b2tlbiI6IndOZjg0aWZNRDFVZjJlVERsTGNpTHZPbFhSd0dxOEFKWWxHV1ZZZ3NPRCIsInRva2VuX3R5cGUiOiJCZWFyZXIiLCJleHBpcmVzX2luIjozNTk5fSwiaWF0IjoxNjY0ODg3NjUwLCJleHAiOjE2NjQ5NzQwNTB9.yj1-NT3kMie3Mg1ZTno2dhvUBEgiZJzXpyLl0i_rACE',\n        'Content-Type': 'application/json'\n    },\n    body: JSON.stringify({\n    \"status\": \"ullamco\",\n    \"page\": 37,\n    \"page_size\": 95\n})\n\n};\nrequest(options, function (error, response) {\n    if (error) throw new Error(error);\n    console.log(response.body);\n});\n","lang":"JavaScript"},{"source":"package main\n\nimport (\n   \"fmt\"\n   \"strings\"\n   \"net/http\"\n   \"io/ioutil\"\n)\n\nfunc main() {\n\n   url := \"https://test-api.truckerpath.com/truckload/api/tracking/search\"\n   method := \"POST\"\n\n   payload := strings.NewReader(`{\n    \"status\": \"ullamco\",\n    \"page\": 37,\n    \"page_size\": 95\n}`)\n\n   client := &http.Client {\n   }\n   req, err := http.NewRequest(method, url, payload)\n\n   if err != nil {\n      fmt.Println(err)\n      return\n   }\n   req.Header.Add(\"Authorization\", \"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjp7InVzZXJJZCI6InZuNTJ1YzUiLCJkaXNwbGF5TmFtZSI6Ik11aGFtbWFkIFNoZXJheiAtIFZlbmRvciIsImdpdmVuTmFtZSI6Ik11aGFtbWFkIiwiZmFtaWx5TmFtZSI6IlNoZXJheiIsIm1haWwiOiJNdWhhbW1hZC5TaGVyYXpAd2FsbWFydC5jb20ifSwidXNlclJvbGVzIjpbXSwidXNlclByaW5jaXBhbE5hbWUiOiJ2bjUydWM1QGhvbWVvZmZpY2Uud2FsLW1hcnQuY29tIiwicGluZ1Rva2VuIjp7ImFjY2Vzc190b2tlbiI6ImV5SmhiR2NpT2lKU1V6STFOaUlzSW10cFpDSTZJbkJtWldSemRHRm5aVjl6YVdkdVgwcDFiSGt5TURJeklpd2ljR2t1WVhSdElqb2lNeUo5LmV5SnpZMjl3WlNJNkltOXdaVzVwWkNCd2NtOW1hV3hsSUdaMWJHd2lMQ0pqYkdsbGJuUmZhV1FpT2lKSlltZFFiM0owWVd4VmFWTjBaeUlzSW1kMWFXUWlPaUpOWmpVMFprb3dORFUzY2poalVFVXpNekJTVlVGeWQxRk1kV0pyTlc5dFJTSXNJbWx6Y3lJNkltaDBkSEJ6T2k4dmNHWmxaR05sY25RdWQyRnNMVzFoY25RdVkyOXRJaXdpYW5ScElqb2lZM3B6V0dKT1NVZ2lMQ0poZFdRaU9pSkpZbWRRYjNKMFlXeFZhVk4wWnlJc0luTjFZaUk2SW5adU5USjFZelZBYUc5dFpXOW1abWxqWlM1M1lXd3RiV0Z5ZEM1amIyMGlMQ0oxY0c0aU9pSjJialV5ZFdNMVFHaHZiV1Z2Wm1acFkyVXVkMkZzTFcxaGNuUXVZMjl0SWl3aWJtSm1Jam94TmpZME9EZzNOVE13TENKcFlYUWlPakUyTmpRNE9EYzJOVEFzSW5WelpYSnBaQ0k2SW5adU5USjFZelVpTENKM2FXNGlPaUpPVDFSZlJrOVZUa1FpTENKbGVIQWlPakUyTmpRNE9URXlOVEI5LktHUGR6OUE3TkZiNjQ5amZmRUVha2dZTkdYVDBhR2pKVUxWcmlUeGppbWNsSEJsMGgtVHJXbVdJTjZOaHZpX25sMzItMnItM042QkpnSnIzbldSQW1BR0xOMUFlSWpTWkR2NjZxWHhOcVJ0T3hJY2ZZZHVvNWhva09kOFZjN3l5dk9nWmU4SDdkRDBnRHBpeFNLUHUxN1ZUUHRZWUo0aTdyYnhhb1plZk15dUhFQ21uaTNiTzlpVFZ6OWdtYV9QYUd2OW1sRkNLb2ZkNjV3TENCN01PbFRqdkFPSXdQTWZuSUplMGNfaGpyTERxb3JUVmFfQV9HVk1TOTNVWmlTU1EwYVlLUm1KNmx1LWZZWjFXakY3dFVCT2hBSVI4Mk5tNko4X01EdnZCSTBVM2Z2elRWNVhGRVg3Mk04TUxvWlJCWXNVQXhoWVhyckNGeFgwTEE3bnlWZ3NGUnpqMDBhMzF3RkJmVXFrZDdmZ1FOY1loTjg0QW5WMTRRaWpMa3B6XzNXblRoUFdyVDJjVGUyUTJfbkF4eXU0Wjc3TVMxWDNYLUJEeTJBaVBWa3ZsLWs3cDZsT2FnZTc4dk1Id3kxVDU4ZTY2RlZnRzZ1R0l6X3EzZ1BKV19SaFVzcFVPTGFFaS12dFVTRVpHYm5oUXMxX2wyWlp5bmE1czdsVXF6SnRXSmRwY1dvckpvdFVMdlg5NjZYZlJ2RXd6eUhfOXNOX0lsZHRMQTZkb0JwSjJkaGJEUklNTlMyV2ZrbVNMbTk4VFFtYm9MbHVIcGtHNkVzRGJtOUNreFdoLXREc253ZWRzdnBYTVBNQldPQ2JxbXR5RjE5Mm1hNFZ6THBSc0pCTmc0MlRiWWtUX2pCNDVWR1p5emZJdkJnOWFINk1NX2F2cVltUGpvdktwQ1RjIiwicmVmcmVzaF90b2tlbiI6IndOZjg0aWZNRDFVZjJlVERsTGNpTHZPbFhSd0dxOEFKWWxHV1ZZZ3NPRCIsInRva2VuX3R5cGUiOiJCZWFyZXIiLCJleHBpcmVzX2luIjozNTk5fSwiaWF0IjoxNjY0ODg3NjUwLCJleHAiOjE2NjQ5NzQwNTB9.yj1-NT3kMie3Mg1ZTno2dhvUBEgiZJzXpyLl0i_rACE\")\n   req.Header.Add(\"Content-Type\", \"application/json\")\n\n   res, err := client.Do(req)\n   if err != nil {\n      fmt.Println(err)\n      return\n   }\n   defer res.Body.Close()\n\n   body, err := ioutil.ReadAll(res.Body)\n   if err != nil {\n      fmt.Println(err)\n      return\n   }\n   fmt.Println(string(body))\n}\n","lang":"GO"},{"source":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n   CURLOPT_URL => 'https://test-api.truckerpath.com/truckload/api/tracking/search',\n   CURLOPT_RETURNTRANSFER => true,\n   CURLOPT_ENCODING => '',\n   CURLOPT_MAXREDIRS => 10,\n   CURLOPT_TIMEOUT => 0,\n   CURLOPT_FOLLOWLOCATION => true,\n   CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n   CURLOPT_CUSTOMREQUEST => 'POST',\n   CURLOPT_POSTFIELDS =>'{\n    \"status\": \"ullamco\",\n    \"page\": 37,\n    \"page_size\": 95\n}',\n   CURLOPT_HTTPHEADER => array(\n      'Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjp7InVzZXJJZCI6InZuNTJ1YzUiLCJkaXNwbGF5TmFtZSI6Ik11aGFtbWFkIFNoZXJheiAtIFZlbmRvciIsImdpdmVuTmFtZSI6Ik11aGFtbWFkIiwiZmFtaWx5TmFtZSI6IlNoZXJheiIsIm1haWwiOiJNdWhhbW1hZC5TaGVyYXpAd2FsbWFydC5jb20ifSwidXNlclJvbGVzIjpbXSwidXNlclByaW5jaXBhbE5hbWUiOiJ2bjUydWM1QGhvbWVvZmZpY2Uud2FsLW1hcnQuY29tIiwicGluZ1Rva2VuIjp7ImFjY2Vzc190b2tlbiI6ImV5SmhiR2NpT2lKU1V6STFOaUlzSW10cFpDSTZJbkJtWldSemRHRm5aVjl6YVdkdVgwcDFiSGt5TURJeklpd2ljR2t1WVhSdElqb2lNeUo5LmV5SnpZMjl3WlNJNkltOXdaVzVwWkNCd2NtOW1hV3hsSUdaMWJHd2lMQ0pqYkdsbGJuUmZhV1FpT2lKSlltZFFiM0owWVd4VmFWTjBaeUlzSW1kMWFXUWlPaUpOWmpVMFprb3dORFUzY2poalVFVXpNekJTVlVGeWQxRk1kV0pyTlc5dFJTSXNJbWx6Y3lJNkltaDBkSEJ6T2k4dmNHWmxaR05sY25RdWQyRnNMVzFoY25RdVkyOXRJaXdpYW5ScElqb2lZM3B6V0dKT1NVZ2lMQ0poZFdRaU9pSkpZbWRRYjNKMFlXeFZhVk4wWnlJc0luTjFZaUk2SW5adU5USjFZelZBYUc5dFpXOW1abWxqWlM1M1lXd3RiV0Z5ZEM1amIyMGlMQ0oxY0c0aU9pSjJialV5ZFdNMVFHaHZiV1Z2Wm1acFkyVXVkMkZzTFcxaGNuUXVZMjl0SWl3aWJtSm1Jam94TmpZME9EZzNOVE13TENKcFlYUWlPakUyTmpRNE9EYzJOVEFzSW5WelpYSnBaQ0k2SW5adU5USjFZelVpTENKM2FXNGlPaUpPVDFSZlJrOVZUa1FpTENKbGVIQWlPakUyTmpRNE9URXlOVEI5LktHUGR6OUE3TkZiNjQ5amZmRUVha2dZTkdYVDBhR2pKVUxWcmlUeGppbWNsSEJsMGgtVHJXbVdJTjZOaHZpX25sMzItMnItM042QkpnSnIzbldSQW1BR0xOMUFlSWpTWkR2NjZxWHhOcVJ0T3hJY2ZZZHVvNWhva09kOFZjN3l5dk9nWmU4SDdkRDBnRHBpeFNLUHUxN1ZUUHRZWUo0aTdyYnhhb1plZk15dUhFQ21uaTNiTzlpVFZ6OWdtYV9QYUd2OW1sRkNLb2ZkNjV3TENCN01PbFRqdkFPSXdQTWZuSUplMGNfaGpyTERxb3JUVmFfQV9HVk1TOTNVWmlTU1EwYVlLUm1KNmx1LWZZWjFXakY3dFVCT2hBSVI4Mk5tNko4X01EdnZCSTBVM2Z2elRWNVhGRVg3Mk04TUxvWlJCWXNVQXhoWVhyckNGeFgwTEE3bnlWZ3NGUnpqMDBhMzF3RkJmVXFrZDdmZ1FOY1loTjg0QW5WMTRRaWpMa3B6XzNXblRoUFdyVDJjVGUyUTJfbkF4eXU0Wjc3TVMxWDNYLUJEeTJBaVBWa3ZsLWs3cDZsT2FnZTc4dk1Id3kxVDU4ZTY2RlZnRzZ1R0l6X3EzZ1BKV19SaFVzcFVPTGFFaS12dFVTRVpHYm5oUXMxX2wyWlp5bmE1czdsVXF6SnRXSmRwY1dvckpvdFVMdlg5NjZYZlJ2RXd6eUhfOXNOX0lsZHRMQTZkb0JwSjJkaGJEUklNTlMyV2ZrbVNMbTk4VFFtYm9MbHVIcGtHNkVzRGJtOUNreFdoLXREc253ZWRzdnBYTVBNQldPQ2JxbXR5RjE5Mm1hNFZ6THBSc0pCTmc0MlRiWWtUX2pCNDVWR1p5emZJdkJnOWFINk1NX2F2cVltUGpvdktwQ1RjIiwicmVmcmVzaF90b2tlbiI6IndOZjg0aWZNRDFVZjJlVERsTGNpTHZPbFhSd0dxOEFKWWxHV1ZZZ3NPRCIsInRva2VuX3R5cGUiOiJCZWFyZXIiLCJleHBpcmVzX2luIjozNTk5fSwiaWF0IjoxNjY0ODg3NjUwLCJleHAiOjE2NjQ5NzQwNTB9.yj1-NT3kMie3Mg1ZTno2dhvUBEgiZJzXpyLl0i_rACE',\n      'Content-Type: application/json'\n   ),\n));\n\n$response = curl_exec($curl);\n\ncurl_close($curl);\necho $response;\n","lang":"PHP"},{"source":"import requests\nimport json\n\nurl = \"https://test-api.truckerpath.com/truckload/api/tracking/search\"\n\npayload = json.dumps({\n   \"status\": \"ullamco\",\n   \"page\": 37,\n   \"page_size\": 95\n})\nheaders = {\n   'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjp7InVzZXJJZCI6InZuNTJ1YzUiLCJkaXNwbGF5TmFtZSI6Ik11aGFtbWFkIFNoZXJheiAtIFZlbmRvciIsImdpdmVuTmFtZSI6Ik11aGFtbWFkIiwiZmFtaWx5TmFtZSI6IlNoZXJheiIsIm1haWwiOiJNdWhhbW1hZC5TaGVyYXpAd2FsbWFydC5jb20ifSwidXNlclJvbGVzIjpbXSwidXNlclByaW5jaXBhbE5hbWUiOiJ2bjUydWM1QGhvbWVvZmZpY2Uud2FsLW1hcnQuY29tIiwicGluZ1Rva2VuIjp7ImFjY2Vzc190b2tlbiI6ImV5SmhiR2NpT2lKU1V6STFOaUlzSW10cFpDSTZJbkJtWldSemRHRm5aVjl6YVdkdVgwcDFiSGt5TURJeklpd2ljR2t1WVhSdElqb2lNeUo5LmV5SnpZMjl3WlNJNkltOXdaVzVwWkNCd2NtOW1hV3hsSUdaMWJHd2lMQ0pqYkdsbGJuUmZhV1FpT2lKSlltZFFiM0owWVd4VmFWTjBaeUlzSW1kMWFXUWlPaUpOWmpVMFprb3dORFUzY2poalVFVXpNekJTVlVGeWQxRk1kV0pyTlc5dFJTSXNJbWx6Y3lJNkltaDBkSEJ6T2k4dmNHWmxaR05sY25RdWQyRnNMVzFoY25RdVkyOXRJaXdpYW5ScElqb2lZM3B6V0dKT1NVZ2lMQ0poZFdRaU9pSkpZbWRRYjNKMFlXeFZhVk4wWnlJc0luTjFZaUk2SW5adU5USjFZelZBYUc5dFpXOW1abWxqWlM1M1lXd3RiV0Z5ZEM1amIyMGlMQ0oxY0c0aU9pSjJialV5ZFdNMVFHaHZiV1Z2Wm1acFkyVXVkMkZzTFcxaGNuUXVZMjl0SWl3aWJtSm1Jam94TmpZME9EZzNOVE13TENKcFlYUWlPakUyTmpRNE9EYzJOVEFzSW5WelpYSnBaQ0k2SW5adU5USjFZelVpTENKM2FXNGlPaUpPVDFSZlJrOVZUa1FpTENKbGVIQWlPakUyTmpRNE9URXlOVEI5LktHUGR6OUE3TkZiNjQ5amZmRUVha2dZTkdYVDBhR2pKVUxWcmlUeGppbWNsSEJsMGgtVHJXbVdJTjZOaHZpX25sMzItMnItM042QkpnSnIzbldSQW1BR0xOMUFlSWpTWkR2NjZxWHhOcVJ0T3hJY2ZZZHVvNWhva09kOFZjN3l5dk9nWmU4SDdkRDBnRHBpeFNLUHUxN1ZUUHRZWUo0aTdyYnhhb1plZk15dUhFQ21uaTNiTzlpVFZ6OWdtYV9QYUd2OW1sRkNLb2ZkNjV3TENCN01PbFRqdkFPSXdQTWZuSUplMGNfaGpyTERxb3JUVmFfQV9HVk1TOTNVWmlTU1EwYVlLUm1KNmx1LWZZWjFXakY3dFVCT2hBSVI4Mk5tNko4X01EdnZCSTBVM2Z2elRWNVhGRVg3Mk04TUxvWlJCWXNVQXhoWVhyckNGeFgwTEE3bnlWZ3NGUnpqMDBhMzF3RkJmVXFrZDdmZ1FOY1loTjg0QW5WMTRRaWpMa3B6XzNXblRoUFdyVDJjVGUyUTJfbkF4eXU0Wjc3TVMxWDNYLUJEeTJBaVBWa3ZsLWs3cDZsT2FnZTc4dk1Id3kxVDU4ZTY2RlZnRzZ1R0l6X3EzZ1BKV19SaFVzcFVPTGFFaS12dFVTRVpHYm5oUXMxX2wyWlp5bmE1czdsVXF6SnRXSmRwY1dvckpvdFVMdlg5NjZYZlJ2RXd6eUhfOXNOX0lsZHRMQTZkb0JwSjJkaGJEUklNTlMyV2ZrbVNMbTk4VFFtYm9MbHVIcGtHNkVzRGJtOUNreFdoLXREc253ZWRzdnBYTVBNQldPQ2JxbXR5RjE5Mm1hNFZ6THBSc0pCTmc0MlRiWWtUX2pCNDVWR1p5emZJdkJnOWFINk1NX2F2cVltUGpvdktwQ1RjIiwicmVmcmVzaF90b2tlbiI6IndOZjg0aWZNRDFVZjJlVERsTGNpTHZPbFhSd0dxOEFKWWxHV1ZZZ3NPRCIsInRva2VuX3R5cGUiOiJCZWFyZXIiLCJleHBpcmVzX2luIjozNTk5fSwiaWF0IjoxNjY0ODg3NjUwLCJleHAiOjE2NjQ5NzQwNTB9.yj1-NT3kMie3Mg1ZTno2dhvUBEgiZJzXpyLl0i_rACE',\n   'Content-Type': 'application/json'\n}\n\nresponse = requests.request(\"POST\", url, headers=headers, data=payload)\n\nprint(response.text)\n","lang":"Python"}]}},"/api/tracking/":{"post":{"tags":["3. Visibility APIs"],"summary":"Create a Tracking","description":"Create a tracking with load information","operationId":"createTracking","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrackingDto"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseExample403"}}}},"500":{"description":"Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseExample500"}}}},"401":{"description":"Not Authorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseExample401"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrackingCreateVo"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseExample404"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseExample400"}}}}},"security":[{"Authorization":[]}],"x-code-samples":[{"source":"OkHttpClient client = new OkHttpClient().newBuilder()\n        .build();\n        MediaType mediaType = MediaType.parse(\"application/json\");\n        RequestBody body = RequestBody.create(mediaType, \"{\\n    \\\"carrier_name\\\": \\\"INIT\\\",\\n    \\\"carrier_phone\\\": \\\"09012345678\\\",\\n    \\\"carrier_email\\\": \\\"sample@test.com\\\",\\n    \\\"pick_up\\\": {\\n        \\\"state\\\": \\\"NY\\\",\\n        \\\"address\\\": \\\"New York, NY, USA\\\",\\n        \\\"city\\\": \\\"New York\\\",\\n        \\\"date_local\\\": \\\"2021-10-11T03:00:00\\\",\\n        \\\"lat\\\": 37.7576793,\\n        \\\"lng\\\": -122.5076399\\n    },\\n    \\\"drop_off\\\": {\\n        \\\"state\\\": \\\"NY\\\",\\n        \\\"address\\\": \\\"New York, NY, USA\\\",\\n        \\\"city\\\": \\\"New York\\\",\\n        \\\"date_local\\\": \\\"2021-10-11T03:00:00\\\",\\n        \\\"lat\\\": 37.7576793,\\n        \\\"lng\\\": -122.5076399\\n    },\\n    \\\"note\\\": \\\"Safe trip, Roger One\\\",\\n    \\\"shipper_notify_email\\\": \\\"shipper@test.com\\\",\\n    \\\"is_arrival_notified\\\": true\\n}\");\n        Request request = new Request.Builder()\n        .url(\"https://test-api.truckerpath.com/truckload/api/tracking/\")\n        .method(\"POST\", body)\n        .addHeader(\"Authorization\", \"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjp7InVzZXJJZCI6InZuNTJ1YzUiLCJkaXNwbGF5TmFtZSI6Ik11aGFtbWFkIFNoZXJheiAtIFZlbmRvciIsImdpdmVuTmFtZSI6Ik11aGFtbWFkIiwiZmFtaWx5TmFtZSI6IlNoZXJheiIsIm1haWwiOiJNdWhhbW1hZC5TaGVyYXpAd2FsbWFydC5jb20ifSwidXNlclJvbGVzIjpbXSwidXNlclByaW5jaXBhbE5hbWUiOiJ2bjUydWM1QGhvbWVvZmZpY2Uud2FsLW1hcnQuY29tIiwicGluZ1Rva2VuIjp7ImFjY2Vzc190b2tlbiI6ImV5SmhiR2NpT2lKU1V6STFOaUlzSW10cFpDSTZJbkJtWldSemRHRm5aVjl6YVdkdVgwcDFiSGt5TURJeklpd2ljR2t1WVhSdElqb2lNeUo5LmV5SnpZMjl3WlNJNkltOXdaVzVwWkNCd2NtOW1hV3hsSUdaMWJHd2lMQ0pqYkdsbGJuUmZhV1FpT2lKSlltZFFiM0owWVd4VmFWTjBaeUlzSW1kMWFXUWlPaUpOWmpVMFprb3dORFUzY2poalVFVXpNekJTVlVGeWQxRk1kV0pyTlc5dFJTSXNJbWx6Y3lJNkltaDBkSEJ6T2k4dmNHWmxaR05sY25RdWQyRnNMVzFoY25RdVkyOXRJaXdpYW5ScElqb2lZM3B6V0dKT1NVZ2lMQ0poZFdRaU9pSkpZbWRRYjNKMFlXeFZhVk4wWnlJc0luTjFZaUk2SW5adU5USjFZelZBYUc5dFpXOW1abWxqWlM1M1lXd3RiV0Z5ZEM1amIyMGlMQ0oxY0c0aU9pSjJialV5ZFdNMVFHaHZiV1Z2Wm1acFkyVXVkMkZzTFcxaGNuUXVZMjl0SWl3aWJtSm1Jam94TmpZME9EZzNOVE13TENKcFlYUWlPakUyTmpRNE9EYzJOVEFzSW5WelpYSnBaQ0k2SW5adU5USjFZelVpTENKM2FXNGlPaUpPVDFSZlJrOVZUa1FpTENKbGVIQWlPakUyTmpRNE9URXlOVEI5LktHUGR6OUE3TkZiNjQ5amZmRUVha2dZTkdYVDBhR2pKVUxWcmlUeGppbWNsSEJsMGgtVHJXbVdJTjZOaHZpX25sMzItMnItM042QkpnSnIzbldSQW1BR0xOMUFlSWpTWkR2NjZxWHhOcVJ0T3hJY2ZZZHVvNWhva09kOFZjN3l5dk9nWmU4SDdkRDBnRHBpeFNLUHUxN1ZUUHRZWUo0aTdyYnhhb1plZk15dUhFQ21uaTNiTzlpVFZ6OWdtYV9QYUd2OW1sRkNLb2ZkNjV3TENCN01PbFRqdkFPSXdQTWZuSUplMGNfaGpyTERxb3JUVmFfQV9HVk1TOTNVWmlTU1EwYVlLUm1KNmx1LWZZWjFXakY3dFVCT2hBSVI4Mk5tNko4X01EdnZCSTBVM2Z2elRWNVhGRVg3Mk04TUxvWlJCWXNVQXhoWVhyckNGeFgwTEE3bnlWZ3NGUnpqMDBhMzF3RkJmVXFrZDdmZ1FOY1loTjg0QW5WMTRRaWpMa3B6XzNXblRoUFdyVDJjVGUyUTJfbkF4eXU0Wjc3TVMxWDNYLUJEeTJBaVBWa3ZsLWs3cDZsT2FnZTc4dk1Id3kxVDU4ZTY2RlZnRzZ1R0l6X3EzZ1BKV19SaFVzcFVPTGFFaS12dFVTRVpHYm5oUXMxX2wyWlp5bmE1czdsVXF6SnRXSmRwY1dvckpvdFVMdlg5NjZYZlJ2RXd6eUhfOXNOX0lsZHRMQTZkb0JwSjJkaGJEUklNTlMyV2ZrbVNMbTk4VFFtYm9MbHVIcGtHNkVzRGJtOUNreFdoLXREc253ZWRzdnBYTVBNQldPQ2JxbXR5RjE5Mm1hNFZ6THBSc0pCTmc0MlRiWWtUX2pCNDVWR1p5emZJdkJnOWFINk1NX2F2cVltUGpvdktwQ1RjIiwicmVmcmVzaF90b2tlbiI6IndOZjg0aWZNRDFVZjJlVERsTGNpTHZPbFhSd0dxOEFKWWxHV1ZZZ3NPRCIsInRva2VuX3R5cGUiOiJCZWFyZXIiLCJleHBpcmVzX2luIjozNTk5fSwiaWF0IjoxNjY0ODg3NjUwLCJleHAiOjE2NjQ5NzQwNTB9.yj1-NT3kMie3Mg1ZTno2dhvUBEgiZJzXpyLl0i_rACE\")\n        .addHeader(\"Content-Type\", \"application/json\")\n        .build();\n        Response response = client.newCall(request).execute();\n","lang":"Java"},{"source":"curl --location --request POST 'https://test-api.truckerpath.com/truckload/api/tracking/' \\\n--header 'Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjp7InVzZXJJZCI6InZuNTJ1YzUiLCJkaXNwbGF5TmFtZSI6Ik11aGFtbWFkIFNoZXJheiAtIFZlbmRvciIsImdpdmVuTmFtZSI6Ik11aGFtbWFkIiwiZmFtaWx5TmFtZSI6IlNoZXJheiIsIm1haWwiOiJNdWhhbW1hZC5TaGVyYXpAd2FsbWFydC5jb20ifSwidXNlclJvbGVzIjpbXSwidXNlclByaW5jaXBhbE5hbWUiOiJ2bjUydWM1QGhvbWVvZmZpY2Uud2FsLW1hcnQuY29tIiwicGluZ1Rva2VuIjp7ImFjY2Vzc190b2tlbiI6ImV5SmhiR2NpT2lKU1V6STFOaUlzSW10cFpDSTZJbkJtWldSemRHRm5aVjl6YVdkdVgwcDFiSGt5TURJeklpd2ljR2t1WVhSdElqb2lNeUo5LmV5SnpZMjl3WlNJNkltOXdaVzVwWkNCd2NtOW1hV3hsSUdaMWJHd2lMQ0pqYkdsbGJuUmZhV1FpT2lKSlltZFFiM0owWVd4VmFWTjBaeUlzSW1kMWFXUWlPaUpOWmpVMFprb3dORFUzY2poalVFVXpNekJTVlVGeWQxRk1kV0pyTlc5dFJTSXNJbWx6Y3lJNkltaDBkSEJ6T2k4dmNHWmxaR05sY25RdWQyRnNMVzFoY25RdVkyOXRJaXdpYW5ScElqb2lZM3B6V0dKT1NVZ2lMQ0poZFdRaU9pSkpZbWRRYjNKMFlXeFZhVk4wWnlJc0luTjFZaUk2SW5adU5USjFZelZBYUc5dFpXOW1abWxqWlM1M1lXd3RiV0Z5ZEM1amIyMGlMQ0oxY0c0aU9pSjJialV5ZFdNMVFHaHZiV1Z2Wm1acFkyVXVkMkZzTFcxaGNuUXVZMjl0SWl3aWJtSm1Jam94TmpZME9EZzNOVE13TENKcFlYUWlPakUyTmpRNE9EYzJOVEFzSW5WelpYSnBaQ0k2SW5adU5USjFZelVpTENKM2FXNGlPaUpPVDFSZlJrOVZUa1FpTENKbGVIQWlPakUyTmpRNE9URXlOVEI5LktHUGR6OUE3TkZiNjQ5amZmRUVha2dZTkdYVDBhR2pKVUxWcmlUeGppbWNsSEJsMGgtVHJXbVdJTjZOaHZpX25sMzItMnItM042QkpnSnIzbldSQW1BR0xOMUFlSWpTWkR2NjZxWHhOcVJ0T3hJY2ZZZHVvNWhva09kOFZjN3l5dk9nWmU4SDdkRDBnRHBpeFNLUHUxN1ZUUHRZWUo0aTdyYnhhb1plZk15dUhFQ21uaTNiTzlpVFZ6OWdtYV9QYUd2OW1sRkNLb2ZkNjV3TENCN01PbFRqdkFPSXdQTWZuSUplMGNfaGpyTERxb3JUVmFfQV9HVk1TOTNVWmlTU1EwYVlLUm1KNmx1LWZZWjFXakY3dFVCT2hBSVI4Mk5tNko4X01EdnZCSTBVM2Z2elRWNVhGRVg3Mk04TUxvWlJCWXNVQXhoWVhyckNGeFgwTEE3bnlWZ3NGUnpqMDBhMzF3RkJmVXFrZDdmZ1FOY1loTjg0QW5WMTRRaWpMa3B6XzNXblRoUFdyVDJjVGUyUTJfbkF4eXU0Wjc3TVMxWDNYLUJEeTJBaVBWa3ZsLWs3cDZsT2FnZTc4dk1Id3kxVDU4ZTY2RlZnRzZ1R0l6X3EzZ1BKV19SaFVzcFVPTGFFaS12dFVTRVpHYm5oUXMxX2wyWlp5bmE1czdsVXF6SnRXSmRwY1dvckpvdFVMdlg5NjZYZlJ2RXd6eUhfOXNOX0lsZHRMQTZkb0JwSjJkaGJEUklNTlMyV2ZrbVNMbTk4VFFtYm9MbHVIcGtHNkVzRGJtOUNreFdoLXREc253ZWRzdnBYTVBNQldPQ2JxbXR5RjE5Mm1hNFZ6THBSc0pCTmc0MlRiWWtUX2pCNDVWR1p5emZJdkJnOWFINk1NX2F2cVltUGpvdktwQ1RjIiwicmVmcmVzaF90b2tlbiI6IndOZjg0aWZNRDFVZjJlVERsTGNpTHZPbFhSd0dxOEFKWWxHV1ZZZ3NPRCIsInRva2VuX3R5cGUiOiJCZWFyZXIiLCJleHBpcmVzX2luIjozNTk5fSwiaWF0IjoxNjY0ODg3NjUwLCJleHAiOjE2NjQ5NzQwNTB9.yj1-NT3kMie3Mg1ZTno2dhvUBEgiZJzXpyLl0i_rACE' \\\n--header 'Content-Type: application/json' \\\n--data-raw '{\n    \"carrier_name\": \"INIT\",\n    \"carrier_phone\": \"09012345678\",\n    \"carrier_email\": \"sample@test.com\",\n    \"pick_up\": {\n        \"state\": \"NY\",\n        \"address\": \"New York, NY, USA\",\n        \"city\": \"New York\",\n        \"date_local\": \"2021-10-11T03:00:00\",\n        \"lat\": 37.7576793,\n        \"lng\": -122.5076399\n    },\n    \"drop_off\": {\n        \"state\": \"NY\",\n        \"address\": \"New York, NY, USA\",\n        \"city\": \"New York\",\n        \"date_local\": \"2021-10-11T03:00:00\",\n        \"lat\": 37.7576793,\n        \"lng\": -122.5076399\n    },\n    \"note\": \"Safe trip, Roger One\",\n    \"shipper_notify_email\": \"shipper@test.com\",\n    \"is_arrival_notified\": true\n}'\n","lang":"CURL"},{"source":"var request = require('request');\nvar options = {\n    'method': 'POST',\n    'url': 'https://test-api.truckerpath.com/truckload/api/tracking/',\n    'headers': {\n        'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjp7InVzZXJJZCI6InZuNTJ1YzUiLCJkaXNwbGF5TmFtZSI6Ik11aGFtbWFkIFNoZXJheiAtIFZlbmRvciIsImdpdmVuTmFtZSI6Ik11aGFtbWFkIiwiZmFtaWx5TmFtZSI6IlNoZXJheiIsIm1haWwiOiJNdWhhbW1hZC5TaGVyYXpAd2FsbWFydC5jb20ifSwidXNlclJvbGVzIjpbXSwidXNlclByaW5jaXBhbE5hbWUiOiJ2bjUydWM1QGhvbWVvZmZpY2Uud2FsLW1hcnQuY29tIiwicGluZ1Rva2VuIjp7ImFjY2Vzc190b2tlbiI6ImV5SmhiR2NpT2lKU1V6STFOaUlzSW10cFpDSTZJbkJtWldSemRHRm5aVjl6YVdkdVgwcDFiSGt5TURJeklpd2ljR2t1WVhSdElqb2lNeUo5LmV5SnpZMjl3WlNJNkltOXdaVzVwWkNCd2NtOW1hV3hsSUdaMWJHd2lMQ0pqYkdsbGJuUmZhV1FpT2lKSlltZFFiM0owWVd4VmFWTjBaeUlzSW1kMWFXUWlPaUpOWmpVMFprb3dORFUzY2poalVFVXpNekJTVlVGeWQxRk1kV0pyTlc5dFJTSXNJbWx6Y3lJNkltaDBkSEJ6T2k4dmNHWmxaR05sY25RdWQyRnNMVzFoY25RdVkyOXRJaXdpYW5ScElqb2lZM3B6V0dKT1NVZ2lMQ0poZFdRaU9pSkpZbWRRYjNKMFlXeFZhVk4wWnlJc0luTjFZaUk2SW5adU5USjFZelZBYUc5dFpXOW1abWxqWlM1M1lXd3RiV0Z5ZEM1amIyMGlMQ0oxY0c0aU9pSjJialV5ZFdNMVFHaHZiV1Z2Wm1acFkyVXVkMkZzTFcxaGNuUXVZMjl0SWl3aWJtSm1Jam94TmpZME9EZzNOVE13TENKcFlYUWlPakUyTmpRNE9EYzJOVEFzSW5WelpYSnBaQ0k2SW5adU5USjFZelVpTENKM2FXNGlPaUpPVDFSZlJrOVZUa1FpTENKbGVIQWlPakUyTmpRNE9URXlOVEI5LktHUGR6OUE3TkZiNjQ5amZmRUVha2dZTkdYVDBhR2pKVUxWcmlUeGppbWNsSEJsMGgtVHJXbVdJTjZOaHZpX25sMzItMnItM042QkpnSnIzbldSQW1BR0xOMUFlSWpTWkR2NjZxWHhOcVJ0T3hJY2ZZZHVvNWhva09kOFZjN3l5dk9nWmU4SDdkRDBnRHBpeFNLUHUxN1ZUUHRZWUo0aTdyYnhhb1plZk15dUhFQ21uaTNiTzlpVFZ6OWdtYV9QYUd2OW1sRkNLb2ZkNjV3TENCN01PbFRqdkFPSXdQTWZuSUplMGNfaGpyTERxb3JUVmFfQV9HVk1TOTNVWmlTU1EwYVlLUm1KNmx1LWZZWjFXakY3dFVCT2hBSVI4Mk5tNko4X01EdnZCSTBVM2Z2elRWNVhGRVg3Mk04TUxvWlJCWXNVQXhoWVhyckNGeFgwTEE3bnlWZ3NGUnpqMDBhMzF3RkJmVXFrZDdmZ1FOY1loTjg0QW5WMTRRaWpMa3B6XzNXblRoUFdyVDJjVGUyUTJfbkF4eXU0Wjc3TVMxWDNYLUJEeTJBaVBWa3ZsLWs3cDZsT2FnZTc4dk1Id3kxVDU4ZTY2RlZnRzZ1R0l6X3EzZ1BKV19SaFVzcFVPTGFFaS12dFVTRVpHYm5oUXMxX2wyWlp5bmE1czdsVXF6SnRXSmRwY1dvckpvdFVMdlg5NjZYZlJ2RXd6eUhfOXNOX0lsZHRMQTZkb0JwSjJkaGJEUklNTlMyV2ZrbVNMbTk4VFFtYm9MbHVIcGtHNkVzRGJtOUNreFdoLXREc253ZWRzdnBYTVBNQldPQ2JxbXR5RjE5Mm1hNFZ6THBSc0pCTmc0MlRiWWtUX2pCNDVWR1p5emZJdkJnOWFINk1NX2F2cVltUGpvdktwQ1RjIiwicmVmcmVzaF90b2tlbiI6IndOZjg0aWZNRDFVZjJlVERsTGNpTHZPbFhSd0dxOEFKWWxHV1ZZZ3NPRCIsInRva2VuX3R5cGUiOiJCZWFyZXIiLCJleHBpcmVzX2luIjozNTk5fSwiaWF0IjoxNjY0ODg3NjUwLCJleHAiOjE2NjQ5NzQwNTB9.yj1-NT3kMie3Mg1ZTno2dhvUBEgiZJzXpyLl0i_rACE',\n        'Content-Type': 'application/json'\n    },\n    body: JSON.stringify({\n        \"carrier_name\": \"INIT\",\n        \"carrier_phone\": \"09012345678\",\n        \"carrier_email\": \"sample@test.com\",\n        \"pick_up\": {\n            \"state\": \"NY\",\n            \"address\": \"New York, NY, USA\",\n            \"city\": \"New York\",\n            \"date_local\": \"2021-10-11T03:00:00\",\n            \"lat\": 37.7576793,\n            \"lng\": -122.5076399\n        },\n        \"drop_off\": {\n            \"state\": \"NY\",\n            \"address\": \"New York, NY, USA\",\n            \"city\": \"New York\",\n            \"date_local\": \"2021-10-11T03:00:00\",\n            \"lat\": 37.7576793,\n            \"lng\": -122.5076399\n        },\n        \"note\": \"Safe trip, Roger One\",\n        \"shipper_notify_email\": \"shipper@test.com\",\n        \"is_arrival_notified\": true\n    })\n\n};\nrequest(options, function (error, response) {\n    if (error) throw new Error(error);\n    console.log(response.body);\n});\n","lang":"JavaScript"},{"source":"package main\n\nimport (\n   \"fmt\"\n   \"strings\"\n   \"net/http\"\n   \"io/ioutil\"\n)\n\nfunc main() {\n\n   url := \"https://test-api.truckerpath.com/truckload/api/tracking/\"\n   method := \"POST\"\n\n   payload := strings.NewReader(`{\n    \"carrier_name\": \"INIT\",\n    \"carrier_phone\": \"09012345678\",\n    \"carrier_email\": \"sample@test.com\",\n    \"pick_up\": {\n        \"state\": \"NY\",\n        \"address\": \"New York, NY, USA\",\n        \"city\": \"New York\",\n        \"date_local\": \"2021-10-11T03:00:00\",\n        \"lat\": 37.7576793,\n        \"lng\": -122.5076399\n    },\n    \"drop_off\": {\n        \"state\": \"NY\",\n        \"address\": \"New York, NY, USA\",\n        \"city\": \"New York\",\n        \"date_local\": \"2021-10-11T03:00:00\",\n        \"lat\": 37.7576793,\n        \"lng\": -122.5076399\n    },\n    \"note\": \"Safe trip, Roger One\",\n    \"shipper_notify_email\": \"shipper@test.com\",\n    \"is_arrival_notified\": true\n}`)\n\n   client := &http.Client {\n   }\n   req, err := http.NewRequest(method, url, payload)\n\n   if err != nil {\n      fmt.Println(err)\n      return\n   }\n   req.Header.Add(\"Authorization\", \"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjp7InVzZXJJZCI6InZuNTJ1YzUiLCJkaXNwbGF5TmFtZSI6Ik11aGFtbWFkIFNoZXJheiAtIFZlbmRvciIsImdpdmVuTmFtZSI6Ik11aGFtbWFkIiwiZmFtaWx5TmFtZSI6IlNoZXJheiIsIm1haWwiOiJNdWhhbW1hZC5TaGVyYXpAd2FsbWFydC5jb20ifSwidXNlclJvbGVzIjpbXSwidXNlclByaW5jaXBhbE5hbWUiOiJ2bjUydWM1QGhvbWVvZmZpY2Uud2FsLW1hcnQuY29tIiwicGluZ1Rva2VuIjp7ImFjY2Vzc190b2tlbiI6ImV5SmhiR2NpT2lKU1V6STFOaUlzSW10cFpDSTZJbkJtWldSemRHRm5aVjl6YVdkdVgwcDFiSGt5TURJeklpd2ljR2t1WVhSdElqb2lNeUo5LmV5SnpZMjl3WlNJNkltOXdaVzVwWkNCd2NtOW1hV3hsSUdaMWJHd2lMQ0pqYkdsbGJuUmZhV1FpT2lKSlltZFFiM0owWVd4VmFWTjBaeUlzSW1kMWFXUWlPaUpOWmpVMFprb3dORFUzY2poalVFVXpNekJTVlVGeWQxRk1kV0pyTlc5dFJTSXNJbWx6Y3lJNkltaDBkSEJ6T2k4dmNHWmxaR05sY25RdWQyRnNMVzFoY25RdVkyOXRJaXdpYW5ScElqb2lZM3B6V0dKT1NVZ2lMQ0poZFdRaU9pSkpZbWRRYjNKMFlXeFZhVk4wWnlJc0luTjFZaUk2SW5adU5USjFZelZBYUc5dFpXOW1abWxqWlM1M1lXd3RiV0Z5ZEM1amIyMGlMQ0oxY0c0aU9pSjJialV5ZFdNMVFHaHZiV1Z2Wm1acFkyVXVkMkZzTFcxaGNuUXVZMjl0SWl3aWJtSm1Jam94TmpZME9EZzNOVE13TENKcFlYUWlPakUyTmpRNE9EYzJOVEFzSW5WelpYSnBaQ0k2SW5adU5USjFZelVpTENKM2FXNGlPaUpPVDFSZlJrOVZUa1FpTENKbGVIQWlPakUyTmpRNE9URXlOVEI5LktHUGR6OUE3TkZiNjQ5amZmRUVha2dZTkdYVDBhR2pKVUxWcmlUeGppbWNsSEJsMGgtVHJXbVdJTjZOaHZpX25sMzItMnItM042QkpnSnIzbldSQW1BR0xOMUFlSWpTWkR2NjZxWHhOcVJ0T3hJY2ZZZHVvNWhva09kOFZjN3l5dk9nWmU4SDdkRDBnRHBpeFNLUHUxN1ZUUHRZWUo0aTdyYnhhb1plZk15dUhFQ21uaTNiTzlpVFZ6OWdtYV9QYUd2OW1sRkNLb2ZkNjV3TENCN01PbFRqdkFPSXdQTWZuSUplMGNfaGpyTERxb3JUVmFfQV9HVk1TOTNVWmlTU1EwYVlLUm1KNmx1LWZZWjFXakY3dFVCT2hBSVI4Mk5tNko4X01EdnZCSTBVM2Z2elRWNVhGRVg3Mk04TUxvWlJCWXNVQXhoWVhyckNGeFgwTEE3bnlWZ3NGUnpqMDBhMzF3RkJmVXFrZDdmZ1FOY1loTjg0QW5WMTRRaWpMa3B6XzNXblRoUFdyVDJjVGUyUTJfbkF4eXU0Wjc3TVMxWDNYLUJEeTJBaVBWa3ZsLWs3cDZsT2FnZTc4dk1Id3kxVDU4ZTY2RlZnRzZ1R0l6X3EzZ1BKV19SaFVzcFVPTGFFaS12dFVTRVpHYm5oUXMxX2wyWlp5bmE1czdsVXF6SnRXSmRwY1dvckpvdFVMdlg5NjZYZlJ2RXd6eUhfOXNOX0lsZHRMQTZkb0JwSjJkaGJEUklNTlMyV2ZrbVNMbTk4VFFtYm9MbHVIcGtHNkVzRGJtOUNreFdoLXREc253ZWRzdnBYTVBNQldPQ2JxbXR5RjE5Mm1hNFZ6THBSc0pCTmc0MlRiWWtUX2pCNDVWR1p5emZJdkJnOWFINk1NX2F2cVltUGpvdktwQ1RjIiwicmVmcmVzaF90b2tlbiI6IndOZjg0aWZNRDFVZjJlVERsTGNpTHZPbFhSd0dxOEFKWWxHV1ZZZ3NPRCIsInRva2VuX3R5cGUiOiJCZWFyZXIiLCJleHBpcmVzX2luIjozNTk5fSwiaWF0IjoxNjY0ODg3NjUwLCJleHAiOjE2NjQ5NzQwNTB9.yj1-NT3kMie3Mg1ZTno2dhvUBEgiZJzXpyLl0i_rACE\")\n   req.Header.Add(\"Content-Type\", \"application/json\")\n\n   res, err := client.Do(req)\n   if err != nil {\n      fmt.Println(err)\n      return\n   }\n   defer res.Body.Close()\n\n   body, err := ioutil.ReadAll(res.Body)\n   if err != nil {\n      fmt.Println(err)\n      return\n   }\n   fmt.Println(string(body))\n}\n","lang":"GO"},{"source":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n   CURLOPT_URL => 'https://test-api.truckerpath.com/truckload/api/tracking/',\n   CURLOPT_RETURNTRANSFER => true,\n   CURLOPT_ENCODING => '',\n   CURLOPT_MAXREDIRS => 10,\n   CURLOPT_TIMEOUT => 0,\n   CURLOPT_FOLLOWLOCATION => true,\n   CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n   CURLOPT_CUSTOMREQUEST => 'POST',\n   CURLOPT_POSTFIELDS =>'{\n    \"carrier_name\": \"INIT\",\n    \"carrier_phone\": \"09012345678\",\n    \"carrier_email\": \"sample@test.com\",\n    \"pick_up\": {\n        \"state\": \"NY\",\n        \"address\": \"New York, NY, USA\",\n        \"city\": \"New York\",\n        \"date_local\": \"2021-10-11T03:00:00\",\n        \"lat\": 37.7576793,\n        \"lng\": -122.5076399\n    },\n    \"drop_off\": {\n        \"state\": \"NY\",\n        \"address\": \"New York, NY, USA\",\n        \"city\": \"New York\",\n        \"date_local\": \"2021-10-11T03:00:00\",\n        \"lat\": 37.7576793,\n        \"lng\": -122.5076399\n    },\n    \"note\": \"Safe trip, Roger One\",\n    \"shipper_notify_email\": \"shipper@test.com\",\n    \"is_arrival_notified\": true\n}',\n   CURLOPT_HTTPHEADER => array(\n      'Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjp7InVzZXJJZCI6InZuNTJ1YzUiLCJkaXNwbGF5TmFtZSI6Ik11aGFtbWFkIFNoZXJheiAtIFZlbmRvciIsImdpdmVuTmFtZSI6Ik11aGFtbWFkIiwiZmFtaWx5TmFtZSI6IlNoZXJheiIsIm1haWwiOiJNdWhhbW1hZC5TaGVyYXpAd2FsbWFydC5jb20ifSwidXNlclJvbGVzIjpbXSwidXNlclByaW5jaXBhbE5hbWUiOiJ2bjUydWM1QGhvbWVvZmZpY2Uud2FsLW1hcnQuY29tIiwicGluZ1Rva2VuIjp7ImFjY2Vzc190b2tlbiI6ImV5SmhiR2NpT2lKU1V6STFOaUlzSW10cFpDSTZJbkJtWldSemRHRm5aVjl6YVdkdVgwcDFiSGt5TURJeklpd2ljR2t1WVhSdElqb2lNeUo5LmV5SnpZMjl3WlNJNkltOXdaVzVwWkNCd2NtOW1hV3hsSUdaMWJHd2lMQ0pqYkdsbGJuUmZhV1FpT2lKSlltZFFiM0owWVd4VmFWTjBaeUlzSW1kMWFXUWlPaUpOWmpVMFprb3dORFUzY2poalVFVXpNekJTVlVGeWQxRk1kV0pyTlc5dFJTSXNJbWx6Y3lJNkltaDBkSEJ6T2k4dmNHWmxaR05sY25RdWQyRnNMVzFoY25RdVkyOXRJaXdpYW5ScElqb2lZM3B6V0dKT1NVZ2lMQ0poZFdRaU9pSkpZbWRRYjNKMFlXeFZhVk4wWnlJc0luTjFZaUk2SW5adU5USjFZelZBYUc5dFpXOW1abWxqWlM1M1lXd3RiV0Z5ZEM1amIyMGlMQ0oxY0c0aU9pSjJialV5ZFdNMVFHaHZiV1Z2Wm1acFkyVXVkMkZzTFcxaGNuUXVZMjl0SWl3aWJtSm1Jam94TmpZME9EZzNOVE13TENKcFlYUWlPakUyTmpRNE9EYzJOVEFzSW5WelpYSnBaQ0k2SW5adU5USjFZelVpTENKM2FXNGlPaUpPVDFSZlJrOVZUa1FpTENKbGVIQWlPakUyTmpRNE9URXlOVEI5LktHUGR6OUE3TkZiNjQ5amZmRUVha2dZTkdYVDBhR2pKVUxWcmlUeGppbWNsSEJsMGgtVHJXbVdJTjZOaHZpX25sMzItMnItM042QkpnSnIzbldSQW1BR0xOMUFlSWpTWkR2NjZxWHhOcVJ0T3hJY2ZZZHVvNWhva09kOFZjN3l5dk9nWmU4SDdkRDBnRHBpeFNLUHUxN1ZUUHRZWUo0aTdyYnhhb1plZk15dUhFQ21uaTNiTzlpVFZ6OWdtYV9QYUd2OW1sRkNLb2ZkNjV3TENCN01PbFRqdkFPSXdQTWZuSUplMGNfaGpyTERxb3JUVmFfQV9HVk1TOTNVWmlTU1EwYVlLUm1KNmx1LWZZWjFXakY3dFVCT2hBSVI4Mk5tNko4X01EdnZCSTBVM2Z2elRWNVhGRVg3Mk04TUxvWlJCWXNVQXhoWVhyckNGeFgwTEE3bnlWZ3NGUnpqMDBhMzF3RkJmVXFrZDdmZ1FOY1loTjg0QW5WMTRRaWpMa3B6XzNXblRoUFdyVDJjVGUyUTJfbkF4eXU0Wjc3TVMxWDNYLUJEeTJBaVBWa3ZsLWs3cDZsT2FnZTc4dk1Id3kxVDU4ZTY2RlZnRzZ1R0l6X3EzZ1BKV19SaFVzcFVPTGFFaS12dFVTRVpHYm5oUXMxX2wyWlp5bmE1czdsVXF6SnRXSmRwY1dvckpvdFVMdlg5NjZYZlJ2RXd6eUhfOXNOX0lsZHRMQTZkb0JwSjJkaGJEUklNTlMyV2ZrbVNMbTk4VFFtYm9MbHVIcGtHNkVzRGJtOUNreFdoLXREc253ZWRzdnBYTVBNQldPQ2JxbXR5RjE5Mm1hNFZ6THBSc0pCTmc0MlRiWWtUX2pCNDVWR1p5emZJdkJnOWFINk1NX2F2cVltUGpvdktwQ1RjIiwicmVmcmVzaF90b2tlbiI6IndOZjg0aWZNRDFVZjJlVERsTGNpTHZPbFhSd0dxOEFKWWxHV1ZZZ3NPRCIsInRva2VuX3R5cGUiOiJCZWFyZXIiLCJleHBpcmVzX2luIjozNTk5fSwiaWF0IjoxNjY0ODg3NjUwLCJleHAiOjE2NjQ5NzQwNTB9.yj1-NT3kMie3Mg1ZTno2dhvUBEgiZJzXpyLl0i_rACE',\n      'Content-Type: application/json'\n   ),\n));\n\n$response = curl_exec($curl);\n\ncurl_close($curl);\necho $response;\n","lang":"PHP"},{"source":"import requests\nimport json\n\nurl = \"https://test-api.truckerpath.com/truckload/api/tracking/\"\n\npayload = json.dumps({\n   \"carrier_name\": \"INIT\",\n   \"carrier_phone\": \"09012345678\",\n   \"carrier_email\": \"sample@test.com\",\n   \"pick_up\": {\n      \"state\": \"NY\",\n      \"address\": \"New York, NY, USA\",\n      \"city\": \"New York\",\n      \"date_local\": \"2021-10-11T03:00:00\",\n      \"lat\": 37.7576793,\n      \"lng\": -122.5076399\n   },\n   \"drop_off\": {\n      \"state\": \"NY\",\n      \"address\": \"New York, NY, USA\",\n      \"city\": \"New York\",\n      \"date_local\": \"2021-10-11T03:00:00\",\n      \"lat\": 37.7576793,\n      \"lng\": -122.5076399\n   },\n   \"note\": \"Safe trip, Roger One\",\n   \"shipper_notify_email\": \"shipper@test.com\",\n   \"is_arrival_notified\": True\n})\nheaders = {\n   'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjp7InVzZXJJZCI6InZuNTJ1YzUiLCJkaXNwbGF5TmFtZSI6Ik11aGFtbWFkIFNoZXJheiAtIFZlbmRvciIsImdpdmVuTmFtZSI6Ik11aGFtbWFkIiwiZmFtaWx5TmFtZSI6IlNoZXJheiIsIm1haWwiOiJNdWhhbW1hZC5TaGVyYXpAd2FsbWFydC5jb20ifSwidXNlclJvbGVzIjpbXSwidXNlclByaW5jaXBhbE5hbWUiOiJ2bjUydWM1QGhvbWVvZmZpY2Uud2FsLW1hcnQuY29tIiwicGluZ1Rva2VuIjp7ImFjY2Vzc190b2tlbiI6ImV5SmhiR2NpT2lKU1V6STFOaUlzSW10cFpDSTZJbkJtWldSemRHRm5aVjl6YVdkdVgwcDFiSGt5TURJeklpd2ljR2t1WVhSdElqb2lNeUo5LmV5SnpZMjl3WlNJNkltOXdaVzVwWkNCd2NtOW1hV3hsSUdaMWJHd2lMQ0pqYkdsbGJuUmZhV1FpT2lKSlltZFFiM0owWVd4VmFWTjBaeUlzSW1kMWFXUWlPaUpOWmpVMFprb3dORFUzY2poalVFVXpNekJTVlVGeWQxRk1kV0pyTlc5dFJTSXNJbWx6Y3lJNkltaDBkSEJ6T2k4dmNHWmxaR05sY25RdWQyRnNMVzFoY25RdVkyOXRJaXdpYW5ScElqb2lZM3B6V0dKT1NVZ2lMQ0poZFdRaU9pSkpZbWRRYjNKMFlXeFZhVk4wWnlJc0luTjFZaUk2SW5adU5USjFZelZBYUc5dFpXOW1abWxqWlM1M1lXd3RiV0Z5ZEM1amIyMGlMQ0oxY0c0aU9pSjJialV5ZFdNMVFHaHZiV1Z2Wm1acFkyVXVkMkZzTFcxaGNuUXVZMjl0SWl3aWJtSm1Jam94TmpZME9EZzNOVE13TENKcFlYUWlPakUyTmpRNE9EYzJOVEFzSW5WelpYSnBaQ0k2SW5adU5USjFZelVpTENKM2FXNGlPaUpPVDFSZlJrOVZUa1FpTENKbGVIQWlPakUyTmpRNE9URXlOVEI5LktHUGR6OUE3TkZiNjQ5amZmRUVha2dZTkdYVDBhR2pKVUxWcmlUeGppbWNsSEJsMGgtVHJXbVdJTjZOaHZpX25sMzItMnItM042QkpnSnIzbldSQW1BR0xOMUFlSWpTWkR2NjZxWHhOcVJ0T3hJY2ZZZHVvNWhva09kOFZjN3l5dk9nWmU4SDdkRDBnRHBpeFNLUHUxN1ZUUHRZWUo0aTdyYnhhb1plZk15dUhFQ21uaTNiTzlpVFZ6OWdtYV9QYUd2OW1sRkNLb2ZkNjV3TENCN01PbFRqdkFPSXdQTWZuSUplMGNfaGpyTERxb3JUVmFfQV9HVk1TOTNVWmlTU1EwYVlLUm1KNmx1LWZZWjFXakY3dFVCT2hBSVI4Mk5tNko4X01EdnZCSTBVM2Z2elRWNVhGRVg3Mk04TUxvWlJCWXNVQXhoWVhyckNGeFgwTEE3bnlWZ3NGUnpqMDBhMzF3RkJmVXFrZDdmZ1FOY1loTjg0QW5WMTRRaWpMa3B6XzNXblRoUFdyVDJjVGUyUTJfbkF4eXU0Wjc3TVMxWDNYLUJEeTJBaVBWa3ZsLWs3cDZsT2FnZTc4dk1Id3kxVDU4ZTY2RlZnRzZ1R0l6X3EzZ1BKV19SaFVzcFVPTGFFaS12dFVTRVpHYm5oUXMxX2wyWlp5bmE1czdsVXF6SnRXSmRwY1dvckpvdFVMdlg5NjZYZlJ2RXd6eUhfOXNOX0lsZHRMQTZkb0JwSjJkaGJEUklNTlMyV2ZrbVNMbTk4VFFtYm9MbHVIcGtHNkVzRGJtOUNreFdoLXREc253ZWRzdnBYTVBNQldPQ2JxbXR5RjE5Mm1hNFZ6THBSc0pCTmc0MlRiWWtUX2pCNDVWR1p5emZJdkJnOWFINk1NX2F2cVltUGpvdktwQ1RjIiwicmVmcmVzaF90b2tlbiI6IndOZjg0aWZNRDFVZjJlVERsTGNpTHZPbFhSd0dxOEFKWWxHV1ZZZ3NPRCIsInRva2VuX3R5cGUiOiJCZWFyZXIiLCJleHBpcmVzX2luIjozNTk5fSwiaWF0IjoxNjY0ODg3NjUwLCJleHAiOjE2NjQ5NzQwNTB9.yj1-NT3kMie3Mg1ZTno2dhvUBEgiZJzXpyLl0i_rACE',\n   'Content-Type': 'application/json'\n}\n\nresponse = requests.request(\"POST\", url, headers=headers, data=payload)\n\nprint(response.text)\n","lang":"Python"}]}},"/api/shipments/v2":{"post":{"tags":["1. Loads APIs v2"],"summary":"Post Loads V2","description":"Enable freight brokers and shippers to post their loads onto the Trucker Path network\n","operationId":"saveTmsShipments","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShipmentTmsDto"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseExample403"}}}},"500":{"description":"Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseExample500"}}}},"401":{"description":"Not Authorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseExample401"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShipmentsVo"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseExample404"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseExample400"}}}}},"security":[{"Authorization":[]}],"x-code-samples":[{"source":"OkHttpClient client = new OkHttpClient().newBuilder()\n        .build();\n        MediaType mediaType = MediaType.parse(\"application/json\");\n        RequestBody body = RequestBody.create(mediaType, \"{\\n  \\\"company_id\\\": \\\"string\\\",\\n  \\\"contact_info\\\": {\\n    \\\"contact_email\\\": \\\"howard@hhm.com\\\",\\n    \\\"contact_first_name\\\": \\\"Howard\\\",\\n    \\\"contact_last_name\\\": \\\"Hamlin\\\",\\n    \\\"contact_phone_number\\\": \\\"1234567890\\\",\\n    \\\"contact_phone_ext\\\": \\\"123\\\"\\n  },\\n  \\\"shipment_info\\\": {\\n    \\\"equipment\\\": [\\n      \\\"VAN\\\"\\n    ],\\n    \\\"load_size\\\": \\\"FULL\\\",\\n    \\\"description\\\": \\\"filing cabinets\\\",\\n    \\\"shipment_weight\\\": 30000,\\n    \\\"shipment_dimensions\\\": {\\n      \\\"shipment_height\\\": 20,\\n      \\\"shipment_width\\\": 10,\\n      \\\"shipment_length\\\": 200\\n    },\\n    \\\"requirements\\\": \\\"string\\\",\\n    \\\"stop_list\\\": [\\n      {\\n        \\\"stop_type\\\": \\\"pickup\\\",\\n        \\\"city\\\": \\\"Albuquerque\\\",\\n        \\\"state\\\": \\\"NM\\\",\\n        \\\"address_line\\\": \\\"6353 Juan Tabo Blvd\\\",\\n        \\\"zip\\\": \\\"123456\\\",\\n        \\\"country\\\": \\\"USA\\\",\\n    \\\"lat\\\": 35.084250,\\n        \\\"lng\\\": -106.649240,\\n        \\\"date_local\\\": \\\"2022-10-11T03:00:00\\\",\\n        \\\"sequence\\\": 1,\\n        \\\"stop_instruction\\\": \\\"1\\\"\\n      },\\n     {\\n        \\\"stop_type\\\": \\\"dropoff\\\",\\n        \\\"city\\\": \\\"Phoenix\\\",\\n        \\\"state\\\": \\\"AZ\\\",\\n        \\\"address_line\\\": \\\"6353 Juan Tabo Blvd\\\",\\n        \\\"zip\\\": \\\"123456\\\",\\n        \\\"country\\\": \\\"USA\\\",\\n        \\\"lat\\\": 33.448376,\\n        \\\"lng\\\": -112.074036,\\n        \\\"date_local\\\": \\\"2022-10-11T03:00:00\\\",\\n        \\\"sequence\\\": 2,\\n        \\\"stop_instruction\\\": \\\"1\\\"\\n      }\\n    ],\\n    \\\"shipment_price\\\": 4500,\\n    \\\"shipment_actions\\\": {\\n      \\\"biddable\\\": true,\\n      \\\"book_now\\\": true,\\n      \\\"link_url\\\": \\\"https://brokerload.com/loaddetail/12345\\\"\\n    },\\n  \\\"private_load\\\": false,  \\\"external_id\\\": \\\"ba5bfcddab75490a946dc895025996a6\\\"\\n  }\\n}\");\n        Request request = new Request.Builder()\n        .url(\"https://test-api.truckerpath.com/truckload/api/shipments/v2\")\n        .method(\"POST\", body)\n        .addHeader(\"Authorization\", \"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjp7InVzZXJJZCI6InZuNTJ1YzUiLCJkaXNwbGF5TmFtZSI6Ik11aGFtbWFkIFNoZXJheiAtIFZlbmRvciIsImdpdmVuTmFtZSI6Ik11aGFtbWFkIiwiZmFtaWx5TmFtZSI6IlNoZXJheiIsIm1haWwiOiJNdWhhbW1hZC5TaGVyYXpAd2FsbWFydC5jb20ifSwidXNlclJvbGVzIjpbXSwidXNlclByaW5jaXBhbE5hbWUiOiJ2bjUydWM1QGhvbWVvZmZpY2Uud2FsLW1hcnQuY29tIiwicGluZ1Rva2VuIjp7ImFjY2Vzc190b2tlbiI6ImV5SmhiR2NpT2lKU1V6STFOaUlzSW10cFpDSTZJbkJtWldSemRHRm5aVjl6YVdkdVgwcDFiSGt5TURJeklpd2ljR2t1WVhSdElqb2lNeUo5LmV5SnpZMjl3WlNJNkltOXdaVzVwWkNCd2NtOW1hV3hsSUdaMWJHd2lMQ0pqYkdsbGJuUmZhV1FpT2lKSlltZFFiM0owWVd4VmFWTjBaeUlzSW1kMWFXUWlPaUpOWmpVMFprb3dORFUzY2poalVFVXpNekJTVlVGeWQxRk1kV0pyTlc5dFJTSXNJbWx6Y3lJNkltaDBkSEJ6T2k4dmNHWmxaR05sY25RdWQyRnNMVzFoY25RdVkyOXRJaXdpYW5ScElqb2lZM3B6V0dKT1NVZ2lMQ0poZFdRaU9pSkpZbWRRYjNKMFlXeFZhVk4wWnlJc0luTjFZaUk2SW5adU5USjFZelZBYUc5dFpXOW1abWxqWlM1M1lXd3RiV0Z5ZEM1amIyMGlMQ0oxY0c0aU9pSjJialV5ZFdNMVFHaHZiV1Z2Wm1acFkyVXVkMkZzTFcxaGNuUXVZMjl0SWl3aWJtSm1Jam94TmpZME9EZzNOVE13TENKcFlYUWlPakUyTmpRNE9EYzJOVEFzSW5WelpYSnBaQ0k2SW5adU5USjFZelVpTENKM2FXNGlPaUpPVDFSZlJrOVZUa1FpTENKbGVIQWlPakUyTmpRNE9URXlOVEI5LktHUGR6OUE3TkZiNjQ5amZmRUVha2dZTkdYVDBhR2pKVUxWcmlUeGppbWNsSEJsMGgtVHJXbVdJTjZOaHZpX25sMzItMnItM042QkpnSnIzbldSQW1BR0xOMUFlSWpTWkR2NjZxWHhOcVJ0T3hJY2ZZZHVvNWhva09kOFZjN3l5dk9nWmU4SDdkRDBnRHBpeFNLUHUxN1ZUUHRZWUo0aTdyYnhhb1plZk15dUhFQ21uaTNiTzlpVFZ6OWdtYV9QYUd2OW1sRkNLb2ZkNjV3TENCN01PbFRqdkFPSXdQTWZuSUplMGNfaGpyTERxb3JUVmFfQV9HVk1TOTNVWmlTU1EwYVlLUm1KNmx1LWZZWjFXakY3dFVCT2hBSVI4Mk5tNko4X01EdnZCSTBVM2Z2elRWNVhGRVg3Mk04TUxvWlJCWXNVQXhoWVhyckNGeFgwTEE3bnlWZ3NGUnpqMDBhMzF3RkJmVXFrZDdmZ1FOY1loTjg0QW5WMTRRaWpMa3B6XzNXblRoUFdyVDJjVGUyUTJfbkF4eXU0Wjc3TVMxWDNYLUJEeTJBaVBWa3ZsLWs3cDZsT2FnZTc4dk1Id3kxVDU4ZTY2RlZnRzZ1R0l6X3EzZ1BKV19SaFVzcFVPTGFFaS12dFVTRVpHYm5oUXMxX2wyWlp5bmE1czdsVXF6SnRXSmRwY1dvckpvdFVMdlg5NjZYZlJ2RXd6eUhfOXNOX0lsZHRMQTZkb0JwSjJkaGJEUklNTlMyV2ZrbVNMbTk4VFFtYm9MbHVIcGtHNkVzRGJtOUNreFdoLXREc253ZWRzdnBYTVBNQldPQ2JxbXR5RjE5Mm1hNFZ6THBSc0pCTmc0MlRiWWtUX2pCNDVWR1p5emZJdkJnOWFINk1NX2F2cVltUGpvdktwQ1RjIiwicmVmcmVzaF90b2tlbiI6IndOZjg0aWZNRDFVZjJlVERsTGNpTHZPbFhSd0dxOEFKWWxHV1ZZZ3NPRCIsInRva2VuX3R5cGUiOiJCZWFyZXIiLCJleHBpcmVzX2luIjozNTk5fSwiaWF0IjoxNjY0ODg3NjUwLCJleHAiOjE2NjQ5NzQwNTB9.yj1-NT3kMie3Mg1ZTno2dhvUBEgiZJzXpyLl0i_rACE\")\n        .addHeader(\"Content-Type\", \"application/json\")\n        .build();\n        Response response = client.newCall(request).execute();\n","lang":"Java"},{"source":"curl --location --request POST 'https://test-api.truckerpath.com/truckload/api/shipments/v2' \\\n--header 'Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjp7InVzZXJJZCI6InZuNTJ1YzUiLCJkaXNwbGF5TmFtZSI6Ik11aGFtbWFkIFNoZXJheiAtIFZlbmRvciIsImdpdmVuTmFtZSI6Ik11aGFtbWFkIiwiZmFtaWx5TmFtZSI6IlNoZXJheiIsIm1haWwiOiJNdWhhbW1hZC5TaGVyYXpAd2FsbWFydC5jb20ifSwidXNlclJvbGVzIjpbXSwidXNlclByaW5jaXBhbE5hbWUiOiJ2bjUydWM1QGhvbWVvZmZpY2Uud2FsLW1hcnQuY29tIiwicGluZ1Rva2VuIjp7ImFjY2Vzc190b2tlbiI6ImV5SmhiR2NpT2lKU1V6STFOaUlzSW10cFpDSTZJbkJtWldSemRHRm5aVjl6YVdkdVgwcDFiSGt5TURJeklpd2ljR2t1WVhSdElqb2lNeUo5LmV5SnpZMjl3WlNJNkltOXdaVzVwWkNCd2NtOW1hV3hsSUdaMWJHd2lMQ0pqYkdsbGJuUmZhV1FpT2lKSlltZFFiM0owWVd4VmFWTjBaeUlzSW1kMWFXUWlPaUpOWmpVMFprb3dORFUzY2poalVFVXpNekJTVlVGeWQxRk1kV0pyTlc5dFJTSXNJbWx6Y3lJNkltaDBkSEJ6T2k4dmNHWmxaR05sY25RdWQyRnNMVzFoY25RdVkyOXRJaXdpYW5ScElqb2lZM3B6V0dKT1NVZ2lMQ0poZFdRaU9pSkpZbWRRYjNKMFlXeFZhVk4wWnlJc0luTjFZaUk2SW5adU5USjFZelZBYUc5dFpXOW1abWxqWlM1M1lXd3RiV0Z5ZEM1amIyMGlMQ0oxY0c0aU9pSjJialV5ZFdNMVFHaHZiV1Z2Wm1acFkyVXVkMkZzTFcxaGNuUXVZMjl0SWl3aWJtSm1Jam94TmpZME9EZzNOVE13TENKcFlYUWlPakUyTmpRNE9EYzJOVEFzSW5WelpYSnBaQ0k2SW5adU5USjFZelVpTENKM2FXNGlPaUpPVDFSZlJrOVZUa1FpTENKbGVIQWlPakUyTmpRNE9URXlOVEI5LktHUGR6OUE3TkZiNjQ5amZmRUVha2dZTkdYVDBhR2pKVUxWcmlUeGppbWNsSEJsMGgtVHJXbVdJTjZOaHZpX25sMzItMnItM042QkpnSnIzbldSQW1BR0xOMUFlSWpTWkR2NjZxWHhOcVJ0T3hJY2ZZZHVvNWhva09kOFZjN3l5dk9nWmU4SDdkRDBnRHBpeFNLUHUxN1ZUUHRZWUo0aTdyYnhhb1plZk15dUhFQ21uaTNiTzlpVFZ6OWdtYV9QYUd2OW1sRkNLb2ZkNjV3TENCN01PbFRqdkFPSXdQTWZuSUplMGNfaGpyTERxb3JUVmFfQV9HVk1TOTNVWmlTU1EwYVlLUm1KNmx1LWZZWjFXakY3dFVCT2hBSVI4Mk5tNko4X01EdnZCSTBVM2Z2elRWNVhGRVg3Mk04TUxvWlJCWXNVQXhoWVhyckNGeFgwTEE3bnlWZ3NGUnpqMDBhMzF3RkJmVXFrZDdmZ1FOY1loTjg0QW5WMTRRaWpMa3B6XzNXblRoUFdyVDJjVGUyUTJfbkF4eXU0Wjc3TVMxWDNYLUJEeTJBaVBWa3ZsLWs3cDZsT2FnZTc4dk1Id3kxVDU4ZTY2RlZnRzZ1R0l6X3EzZ1BKV19SaFVzcFVPTGFFaS12dFVTRVpHYm5oUXMxX2wyWlp5bmE1czdsVXF6SnRXSmRwY1dvckpvdFVMdlg5NjZYZlJ2RXd6eUhfOXNOX0lsZHRMQTZkb0JwSjJkaGJEUklNTlMyV2ZrbVNMbTk4VFFtYm9MbHVIcGtHNkVzRGJtOUNreFdoLXREc253ZWRzdnBYTVBNQldPQ2JxbXR5RjE5Mm1hNFZ6THBSc0pCTmc0MlRiWWtUX2pCNDVWR1p5emZJdkJnOWFINk1NX2F2cVltUGpvdktwQ1RjIiwicmVmcmVzaF90b2tlbiI6IndOZjg0aWZNRDFVZjJlVERsTGNpTHZPbFhSd0dxOEFKWWxHV1ZZZ3NPRCIsInRva2VuX3R5cGUiOiJCZWFyZXIiLCJleHBpcmVzX2luIjozNTk5fSwiaWF0IjoxNjY0ODg3NjUwLCJleHAiOjE2NjQ5NzQwNTB9.yj1-NT3kMie3Mg1ZTno2dhvUBEgiZJzXpyLl0i_rACE' \\\n--header 'Content-Type: application/json' \\\n--data-raw '{\n  \"company_id\": \"string\",\n  \"contact_info\": {\n    \"contact_email\": \"howard@hhm.com\",\n    \"contact_first_name\": \"Howard\",\n    \"contact_last_name\": \"Hamlin\",\n    \"contact_phone_number\": \"1234567890\",\n    \"contact_phone_ext\": \"123\"\n  },\n  \"shipment_info\": {\n    \"equipment\": [\n      \"VAN\"\n    ],\n    \"load_size\": \"FULL\",\n    \"description\": \"filing cabinets\",\n    \"shipment_weight\": 30000,\n    \"shipment_dimensions\": {\n      \"shipment_height\": 20,\n      \"shipment_width\": 10,\n      \"shipment_length\": 200\n    },\n    \"requirements\": \"string\",\n    \"stop_list\": [\n      {\n        \"stop_type\": \"pickup\",\n        \"city\": \"Albuquerque\",\n        \"state\": \"NM\",\n        \"address_line\": \"6353 Juan Tabo Blvd\",\n        \"zip\": \"123456\",\n        \"country\": \"USA\",\n        \"lat\": 35.084250,\n        \"lng\": -106.649240,\n        \"date_local\": \"2022-10-11T03:00:00\",\n        \"sequence\": 1,\n        \"stop_instruction\": \"1\"\n      },\n     {\n        \"stop_type\": \"dropoff\",\n        \"city\": \"Phoenix\",\n        \"state\": \"AZ\",\n        \"address_line\": \"6353 Juan Tabo Blvd\",\n        \"zip\": \"123456\",\n        \"country\": \"USA\",\n        \"lat\": 33.448376,\n        \"lng\": -112.074036,\n        \"date_local\": \"2022-10-11T03:00:00\",\n        \"sequence\": 2,\n        \"stop_instruction\": \"1\"\n      }\n    ],\n    \"shipment_price\": 4500,\n    \"shipment_actions\": {\n      \"biddable\": true,\n      \"book_now\": true,\n      \"link_url\": \"https://brokerload.com/loaddetail/12345\"\n    },\n    \"private_load\": false,\n    \"external_id\": \"ba5bfcddab75490a946dc895025996a6\"\n  }\n}'\n","lang":"CURL"},{"source":"var request = require('request');\nvar options = {\n    'method': 'POST',\n    'url': 'https://test-api.truckerpath.com/truckload/api/shipments/v2',\n    'headers': {\n        'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjp7InVzZXJJZCI6InZuNTJ1YzUiLCJkaXNwbGF5TmFtZSI6Ik11aGFtbWFkIFNoZXJheiAtIFZlbmRvciIsImdpdmVuTmFtZSI6Ik11aGFtbWFkIiwiZmFtaWx5TmFtZSI6IlNoZXJheiIsIm1haWwiOiJNdWhhbW1hZC5TaGVyYXpAd2FsbWFydC5jb20ifSwidXNlclJvbGVzIjpbXSwidXNlclByaW5jaXBhbE5hbWUiOiJ2bjUydWM1QGhvbWVvZmZpY2Uud2FsLW1hcnQuY29tIiwicGluZ1Rva2VuIjp7ImFjY2Vzc190b2tlbiI6ImV5SmhiR2NpT2lKU1V6STFOaUlzSW10cFpDSTZJbkJtWldSemRHRm5aVjl6YVdkdVgwcDFiSGt5TURJeklpd2ljR2t1WVhSdElqb2lNeUo5LmV5SnpZMjl3WlNJNkltOXdaVzVwWkNCd2NtOW1hV3hsSUdaMWJHd2lMQ0pqYkdsbGJuUmZhV1FpT2lKSlltZFFiM0owWVd4VmFWTjBaeUlzSW1kMWFXUWlPaUpOWmpVMFprb3dORFUzY2poalVFVXpNekJTVlVGeWQxRk1kV0pyTlc5dFJTSXNJbWx6Y3lJNkltaDBkSEJ6T2k4dmNHWmxaR05sY25RdWQyRnNMVzFoY25RdVkyOXRJaXdpYW5ScElqb2lZM3B6V0dKT1NVZ2lMQ0poZFdRaU9pSkpZbWRRYjNKMFlXeFZhVk4wWnlJc0luTjFZaUk2SW5adU5USjFZelZBYUc5dFpXOW1abWxqWlM1M1lXd3RiV0Z5ZEM1amIyMGlMQ0oxY0c0aU9pSjJialV5ZFdNMVFHaHZiV1Z2Wm1acFkyVXVkMkZzTFcxaGNuUXVZMjl0SWl3aWJtSm1Jam94TmpZME9EZzNOVE13TENKcFlYUWlPakUyTmpRNE9EYzJOVEFzSW5WelpYSnBaQ0k2SW5adU5USjFZelVpTENKM2FXNGlPaUpPVDFSZlJrOVZUa1FpTENKbGVIQWlPakUyTmpRNE9URXlOVEI5LktHUGR6OUE3TkZiNjQ5amZmRUVha2dZTkdYVDBhR2pKVUxWcmlUeGppbWNsSEJsMGgtVHJXbVdJTjZOaHZpX25sMzItMnItM042QkpnSnIzbldSQW1BR0xOMUFlSWpTWkR2NjZxWHhOcVJ0T3hJY2ZZZHVvNWhva09kOFZjN3l5dk9nWmU4SDdkRDBnRHBpeFNLUHUxN1ZUUHRZWUo0aTdyYnhhb1plZk15dUhFQ21uaTNiTzlpVFZ6OWdtYV9QYUd2OW1sRkNLb2ZkNjV3TENCN01PbFRqdkFPSXdQTWZuSUplMGNfaGpyTERxb3JUVmFfQV9HVk1TOTNVWmlTU1EwYVlLUm1KNmx1LWZZWjFXakY3dFVCT2hBSVI4Mk5tNko4X01EdnZCSTBVM2Z2elRWNVhGRVg3Mk04TUxvWlJCWXNVQXhoWVhyckNGeFgwTEE3bnlWZ3NGUnpqMDBhMzF3RkJmVXFrZDdmZ1FOY1loTjg0QW5WMTRRaWpMa3B6XzNXblRoUFdyVDJjVGUyUTJfbkF4eXU0Wjc3TVMxWDNYLUJEeTJBaVBWa3ZsLWs3cDZsT2FnZTc4dk1Id3kxVDU4ZTY2RlZnRzZ1R0l6X3EzZ1BKV19SaFVzcFVPTGFFaS12dFVTRVpHYm5oUXMxX2wyWlp5bmE1czdsVXF6SnRXSmRwY1dvckpvdFVMdlg5NjZYZlJ2RXd6eUhfOXNOX0lsZHRMQTZkb0JwSjJkaGJEUklNTlMyV2ZrbVNMbTk4VFFtYm9MbHVIcGtHNkVzRGJtOUNreFdoLXREc253ZWRzdnBYTVBNQldPQ2JxbXR5RjE5Mm1hNFZ6THBSc0pCTmc0MlRiWWtUX2pCNDVWR1p5emZJdkJnOWFINk1NX2F2cVltUGpvdktwQ1RjIiwicmVmcmVzaF90b2tlbiI6IndOZjg0aWZNRDFVZjJlVERsTGNpTHZPbFhSd0dxOEFKWWxHV1ZZZ3NPRCIsInRva2VuX3R5cGUiOiJCZWFyZXIiLCJleHBpcmVzX2luIjozNTk5fSwiaWF0IjoxNjY0ODg3NjUwLCJleHAiOjE2NjQ5NzQwNTB9.yj1-NT3kMie3Mg1ZTno2dhvUBEgiZJzXpyLl0i_rACE',\n        'Content-Type': 'application/json'\n    },\n    body: JSON.stringify({\n        \"company_id\": \"string\",\n        \"contact_info\": {\n            \"contact_email\": \"howard@hhm.com\",\n            \"contact_first_name\": \"Howard\",\n            \"contact_last_name\": \"Hamlin\",\n            \"contact_phone_number\": \"1234567890\",\n            \"contact_phone_ext\": \"123\"\n        },\n        \"shipment_info\": {\n            \"equipment\": [\n                \"VAN\"\n            ],\n            \"load_size\": \"FULL\",\n            \"description\": \"filing cabinets\",\n            \"shipment_weight\": 30000,\n            \"shipment_dimensions\": {\n                \"shipment_height\": 20,\n                \"shipment_width\": 10,\n                \"shipment_length\": 200\n            },\n            \"requirements\": \"string\",\n            \"stop_list\": [\n                {\n                    \"stop_type\": \"pickup\",\n                    \"city\": \"Albuquerque\",\n                    \"state\": \"NM\",\n                    \"address_line\": \"6353 Juan Tabo Blvd\",\n                    \"zip\": \"123456\",\n                    \"country\": \"USA\",\n                    \"lat\": 35.084250,\n                    \"lng\": -106.649240,\n                    \"date_local\": \"2022-10-11T03:00:00\",\n                    \"sequence\": 1,\n                    \"stop_instruction\": \"1\"\n                },\n                {\n                    \"stop_type\": \"dropoff\",\n                    \"city\": \"Phoenix\",\n                    \"state\": \"AZ\",\n                    \"address_line\": \"6353 Juan Tabo Blvd\",\n                    \"zip\": \"123456\",\n                    \"country\": \"USA\",\n                    \"lat\": 33.448376,\n                    \"lng\": -112.074036,\n                    \"date_local\": \"2022-10-11T03:00:00\",\n                    \"sequence\": 2,\n                    \"stop_instruction\": \"1\"\n                }\n            ],\n            \"shipment_price\": 4500,\n            \"shipment_actions\": {\n                \"biddable\": true,\n                \"book_now\": true,\n                \"link_url\": \"https://brokerload.com/loaddetail/12345\"\n            },\n            \"private_load\": false,\n            \"external_id\": \"ba5bfcddab75490a946dc895025996a6\"\n        }\n    })\n\n};\nrequest(options, function (error, response) {\n    if (error) throw new Error(error);\n    console.log(response.body);\n});\n","lang":"JavaScript"},{"source":"package main\n\nimport (\n   \"fmt\"\n   \"strings\"\n   \"net/http\"\n   \"io/ioutil\"\n)\n\nfunc main() {\n\n   url := \"https://test-api.truckerpath.com/truckload/api/shipments/v2\"\n   method := \"POST\"\n\n   payload := strings.NewReader(`{\n  \"company_id\": \"string\",\n  \"contact_info\": {\n    \"contact_email\": \"howard@hhm.com\",\n    \"contact_first_name\": \"Howard\",\n    \"contact_last_name\": \"Hamlin\",\n    \"contact_phone_number\": \"1234567890\",\n    \"contact_phone_ext\": \"123\"\n  },\n  \"shipment_info\": {\n    \"equipment\": [\n      \"VAN\"\n    ],\n    \"load_size\": \"FULL\",\n    \"description\": \"filing cabinets\",\n    \"shipment_weight\": 30000,\n    \"shipment_dimensions\": {\n      \"shipment_height\": 20,\n      \"shipment_width\": 10,\n      \"shipment_length\": 200\n    },\n    \"requirements\": \"string\",\n    \"stop_list\": [\n      {\n        \"stop_type\": \"pickup\",\n        \"city\": \"Albuquerque\",\n        \"state\": \"NM\",\n        \"address_line\": \"6353 Juan Tabo Blvd\",\n        \"zip\": \"123456\",\n        \"country\": \"USA\",\n        \"lat\": 35.084250,\n        \"lng\": -106.649240,\n        \"date_local\": \"2022-10-11T03:00:00\",\n        \"sequence\": 1,\n        \"stop_instruction\": \"1\"\n      },\n     {\n        \"stop_type\": \"dropoff\",\n        \"city\": \"Phoenix\",\n        \"state\": \"AZ\",\n        \"address_line\": \"6353 Juan Tabo Blvd\",\n        \"zip\": \"123456\",\n        \"country\": \"USA\",\n        \"lat\": 33.448376,\n        \"lng\": -112.074036,\n        \"date_local\": \"2022-10-11T03:00:00\",\n        \"sequence\": 2,\n        \"stop_instruction\": \"1\"\n      }\n    ],\n    \"shipment_price\": 4500,\n    \"shipment_actions\": {\n      \"biddable\": true,\n      \"book_now\": true,\n      \"link_url\": \"https://brokerload.com/loaddetail/12345\"\n    },\n    \"private_load\": false,\n    \"external_id\": \"ba5bfcddab75490a946dc895025996a6\"\n  }\n}`)\n\n   client := &http.Client {\n   }\n   req, err := http.NewRequest(method, url, payload)\n\n   if err != nil {\n      fmt.Println(err)\n      return\n   }\n   req.Header.Add(\"Authorization\", \"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjp7InVzZXJJZCI6InZuNTJ1YzUiLCJkaXNwbGF5TmFtZSI6Ik11aGFtbWFkIFNoZXJheiAtIFZlbmRvciIsImdpdmVuTmFtZSI6Ik11aGFtbWFkIiwiZmFtaWx5TmFtZSI6IlNoZXJheiIsIm1haWwiOiJNdWhhbW1hZC5TaGVyYXpAd2FsbWFydC5jb20ifSwidXNlclJvbGVzIjpbXSwidXNlclByaW5jaXBhbE5hbWUiOiJ2bjUydWM1QGhvbWVvZmZpY2Uud2FsLW1hcnQuY29tIiwicGluZ1Rva2VuIjp7ImFjY2Vzc190b2tlbiI6ImV5SmhiR2NpT2lKU1V6STFOaUlzSW10cFpDSTZJbkJtWldSemRHRm5aVjl6YVdkdVgwcDFiSGt5TURJeklpd2ljR2t1WVhSdElqb2lNeUo5LmV5SnpZMjl3WlNJNkltOXdaVzVwWkNCd2NtOW1hV3hsSUdaMWJHd2lMQ0pqYkdsbGJuUmZhV1FpT2lKSlltZFFiM0owWVd4VmFWTjBaeUlzSW1kMWFXUWlPaUpOWmpVMFprb3dORFUzY2poalVFVXpNekJTVlVGeWQxRk1kV0pyTlc5dFJTSXNJbWx6Y3lJNkltaDBkSEJ6T2k4dmNHWmxaR05sY25RdWQyRnNMVzFoY25RdVkyOXRJaXdpYW5ScElqb2lZM3B6V0dKT1NVZ2lMQ0poZFdRaU9pSkpZbWRRYjNKMFlXeFZhVk4wWnlJc0luTjFZaUk2SW5adU5USjFZelZBYUc5dFpXOW1abWxqWlM1M1lXd3RiV0Z5ZEM1amIyMGlMQ0oxY0c0aU9pSjJialV5ZFdNMVFHaHZiV1Z2Wm1acFkyVXVkMkZzTFcxaGNuUXVZMjl0SWl3aWJtSm1Jam94TmpZME9EZzNOVE13TENKcFlYUWlPakUyTmpRNE9EYzJOVEFzSW5WelpYSnBaQ0k2SW5adU5USjFZelVpTENKM2FXNGlPaUpPVDFSZlJrOVZUa1FpTENKbGVIQWlPakUyTmpRNE9URXlOVEI5LktHUGR6OUE3TkZiNjQ5amZmRUVha2dZTkdYVDBhR2pKVUxWcmlUeGppbWNsSEJsMGgtVHJXbVdJTjZOaHZpX25sMzItMnItM042QkpnSnIzbldSQW1BR0xOMUFlSWpTWkR2NjZxWHhOcVJ0T3hJY2ZZZHVvNWhva09kOFZjN3l5dk9nWmU4SDdkRDBnRHBpeFNLUHUxN1ZUUHRZWUo0aTdyYnhhb1plZk15dUhFQ21uaTNiTzlpVFZ6OWdtYV9QYUd2OW1sRkNLb2ZkNjV3TENCN01PbFRqdkFPSXdQTWZuSUplMGNfaGpyTERxb3JUVmFfQV9HVk1TOTNVWmlTU1EwYVlLUm1KNmx1LWZZWjFXakY3dFVCT2hBSVI4Mk5tNko4X01EdnZCSTBVM2Z2elRWNVhGRVg3Mk04TUxvWlJCWXNVQXhoWVhyckNGeFgwTEE3bnlWZ3NGUnpqMDBhMzF3RkJmVXFrZDdmZ1FOY1loTjg0QW5WMTRRaWpMa3B6XzNXblRoUFdyVDJjVGUyUTJfbkF4eXU0Wjc3TVMxWDNYLUJEeTJBaVBWa3ZsLWs3cDZsT2FnZTc4dk1Id3kxVDU4ZTY2RlZnRzZ1R0l6X3EzZ1BKV19SaFVzcFVPTGFFaS12dFVTRVpHYm5oUXMxX2wyWlp5bmE1czdsVXF6SnRXSmRwY1dvckpvdFVMdlg5NjZYZlJ2RXd6eUhfOXNOX0lsZHRMQTZkb0JwSjJkaGJEUklNTlMyV2ZrbVNMbTk4VFFtYm9MbHVIcGtHNkVzRGJtOUNreFdoLXREc253ZWRzdnBYTVBNQldPQ2JxbXR5RjE5Mm1hNFZ6THBSc0pCTmc0MlRiWWtUX2pCNDVWR1p5emZJdkJnOWFINk1NX2F2cVltUGpvdktwQ1RjIiwicmVmcmVzaF90b2tlbiI6IndOZjg0aWZNRDFVZjJlVERsTGNpTHZPbFhSd0dxOEFKWWxHV1ZZZ3NPRCIsInRva2VuX3R5cGUiOiJCZWFyZXIiLCJleHBpcmVzX2luIjozNTk5fSwiaWF0IjoxNjY0ODg3NjUwLCJleHAiOjE2NjQ5NzQwNTB9.yj1-NT3kMie3Mg1ZTno2dhvUBEgiZJzXpyLl0i_rACE\")\n   req.Header.Add(\"Content-Type\", \"application/json\")\n\n   res, err := client.Do(req)\n   if err != nil {\n      fmt.Println(err)\n      return\n   }\n   defer res.Body.Close()\n\n   body, err := ioutil.ReadAll(res.Body)\n   if err != nil {\n      fmt.Println(err)\n      return\n   }\n   fmt.Println(string(body))\n}\n","lang":"GO"},{"source":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n   CURLOPT_URL => 'https://test-api.truckerpath.com/truckload/api/shipments/v2',\n   CURLOPT_RETURNTRANSFER => true,\n   CURLOPT_ENCODING => '',\n   CURLOPT_MAXREDIRS => 10,\n   CURLOPT_TIMEOUT => 0,\n   CURLOPT_FOLLOWLOCATION => true,\n   CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n   CURLOPT_CUSTOMREQUEST => 'POST',\n   CURLOPT_POSTFIELDS =>'{\n  \"company_id\": \"string\",\n  \"contact_info\": {\n    \"contact_email\": \"howard@hhm.com\",\n    \"contact_first_name\": \"Howard\",\n    \"contact_last_name\": \"Hamlin\",\n    \"contact_phone_number\": \"1234567890\",\n    \"contact_phone_ext\": \"123\"\n  },\n  \"shipment_info\": {\n    \"equipment\": [\n      \"VAN\"\n    ],\n    \"load_size\": \"FULL\",\n    \"description\": \"filing cabinets\",\n    \"shipment_weight\": 30000,\n    \"shipment_dimensions\": {\n      \"shipment_height\": 20,\n      \"shipment_width\": 10,\n      \"shipment_length\": 200\n    },\n    \"requirements\": \"string\",\n    \"stop_list\": [\n      {\n        \"stop_type\": \"pickup\",\n        \"city\": \"Albuquerque\",\n        \"state\": \"NM\",\n        \"address_line\": \"6353 Juan Tabo Blvd\",\n        \"zip\": \"123456\",\n        \"country\": \"USA\",\n        \"lat\": 35.084250,\n        \"lng\": -106.649240,\n        \"date_local\": \"2022-10-11T03:00:00\",\n        \"sequence\": 1,\n        \"stop_instruction\": \"1\"\n      },\n     {\n        \"stop_type\": \"dropoff\",\n        \"city\": \"Phoenix\",\n        \"state\": \"AZ\",\n        \"address_line\": \"6353 Juan Tabo Blvd\",\n        \"zip\": \"123456\",\n        \"country\": \"USA\",\n        \"lat\": 33.448376,\n        \"lng\": -112.074036,\n        \"date_local\": \"2022-10-11T03:00:00\",\n        \"sequence\": 2,\n        \"stop_instruction\": \"1\"\n      }\n    ],\n    \"shipment_price\": 4500,\n    \"shipment_actions\": {\n      \"biddable\": true,\n      \"book_now\": true,\n      \"link_url\": \"https://brokerload.com/loaddetail/12345\"\n    },\n    \"private_load\": false,\n    \"external_id\": \"ba5bfcddab75490a946dc895025996a6\"\n  }\n}',\n   CURLOPT_HTTPHEADER => array(\n      'Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjp7InVzZXJJZCI6InZuNTJ1YzUiLCJkaXNwbGF5TmFtZSI6Ik11aGFtbWFkIFNoZXJheiAtIFZlbmRvciIsImdpdmVuTmFtZSI6Ik11aGFtbWFkIiwiZmFtaWx5TmFtZSI6IlNoZXJheiIsIm1haWwiOiJNdWhhbW1hZC5TaGVyYXpAd2FsbWFydC5jb20ifSwidXNlclJvbGVzIjpbXSwidXNlclByaW5jaXBhbE5hbWUiOiJ2bjUydWM1QGhvbWVvZmZpY2Uud2FsLW1hcnQuY29tIiwicGluZ1Rva2VuIjp7ImFjY2Vzc190b2tlbiI6ImV5SmhiR2NpT2lKU1V6STFOaUlzSW10cFpDSTZJbkJtWldSemRHRm5aVjl6YVdkdVgwcDFiSGt5TURJeklpd2ljR2t1WVhSdElqb2lNeUo5LmV5SnpZMjl3WlNJNkltOXdaVzVwWkNCd2NtOW1hV3hsSUdaMWJHd2lMQ0pqYkdsbGJuUmZhV1FpT2lKSlltZFFiM0owWVd4VmFWTjBaeUlzSW1kMWFXUWlPaUpOWmpVMFprb3dORFUzY2poalVFVXpNekJTVlVGeWQxRk1kV0pyTlc5dFJTSXNJbWx6Y3lJNkltaDBkSEJ6T2k4dmNHWmxaR05sY25RdWQyRnNMVzFoY25RdVkyOXRJaXdpYW5ScElqb2lZM3B6V0dKT1NVZ2lMQ0poZFdRaU9pSkpZbWRRYjNKMFlXeFZhVk4wWnlJc0luTjFZaUk2SW5adU5USjFZelZBYUc5dFpXOW1abWxqWlM1M1lXd3RiV0Z5ZEM1amIyMGlMQ0oxY0c0aU9pSjJialV5ZFdNMVFHaHZiV1Z2Wm1acFkyVXVkMkZzTFcxaGNuUXVZMjl0SWl3aWJtSm1Jam94TmpZME9EZzNOVE13TENKcFlYUWlPakUyTmpRNE9EYzJOVEFzSW5WelpYSnBaQ0k2SW5adU5USjFZelVpTENKM2FXNGlPaUpPVDFSZlJrOVZUa1FpTENKbGVIQWlPakUyTmpRNE9URXlOVEI5LktHUGR6OUE3TkZiNjQ5amZmRUVha2dZTkdYVDBhR2pKVUxWcmlUeGppbWNsSEJsMGgtVHJXbVdJTjZOaHZpX25sMzItMnItM042QkpnSnIzbldSQW1BR0xOMUFlSWpTWkR2NjZxWHhOcVJ0T3hJY2ZZZHVvNWhva09kOFZjN3l5dk9nWmU4SDdkRDBnRHBpeFNLUHUxN1ZUUHRZWUo0aTdyYnhhb1plZk15dUhFQ21uaTNiTzlpVFZ6OWdtYV9QYUd2OW1sRkNLb2ZkNjV3TENCN01PbFRqdkFPSXdQTWZuSUplMGNfaGpyTERxb3JUVmFfQV9HVk1TOTNVWmlTU1EwYVlLUm1KNmx1LWZZWjFXakY3dFVCT2hBSVI4Mk5tNko4X01EdnZCSTBVM2Z2elRWNVhGRVg3Mk04TUxvWlJCWXNVQXhoWVhyckNGeFgwTEE3bnlWZ3NGUnpqMDBhMzF3RkJmVXFrZDdmZ1FOY1loTjg0QW5WMTRRaWpMa3B6XzNXblRoUFdyVDJjVGUyUTJfbkF4eXU0Wjc3TVMxWDNYLUJEeTJBaVBWa3ZsLWs3cDZsT2FnZTc4dk1Id3kxVDU4ZTY2RlZnRzZ1R0l6X3EzZ1BKV19SaFVzcFVPTGFFaS12dFVTRVpHYm5oUXMxX2wyWlp5bmE1czdsVXF6SnRXSmRwY1dvckpvdFVMdlg5NjZYZlJ2RXd6eUhfOXNOX0lsZHRMQTZkb0JwSjJkaGJEUklNTlMyV2ZrbVNMbTk4VFFtYm9MbHVIcGtHNkVzRGJtOUNreFdoLXREc253ZWRzdnBYTVBNQldPQ2JxbXR5RjE5Mm1hNFZ6THBSc0pCTmc0MlRiWWtUX2pCNDVWR1p5emZJdkJnOWFINk1NX2F2cVltUGpvdktwQ1RjIiwicmVmcmVzaF90b2tlbiI6IndOZjg0aWZNRDFVZjJlVERsTGNpTHZPbFhSd0dxOEFKWWxHV1ZZZ3NPRCIsInRva2VuX3R5cGUiOiJCZWFyZXIiLCJleHBpcmVzX2luIjozNTk5fSwiaWF0IjoxNjY0ODg3NjUwLCJleHAiOjE2NjQ5NzQwNTB9.yj1-NT3kMie3Mg1ZTno2dhvUBEgiZJzXpyLl0i_rACE',\n      'Content-Type: application/json'\n   ),\n));\n\n$response = curl_exec($curl);\n\ncurl_close($curl);\necho $response;\n","lang":"PHP"},{"source":"import requests\nimport json\n\nurl = \"https://test-api.truckerpath.com/truckload/api/shipments/v2\"\n\npayload = json.dumps({\n   \"company_id\": \"string\",\n   \"contact_info\": {\n      \"contact_email\": \"howard@hhm.com\",\n      \"contact_first_name\": \"Howard\",\n      \"contact_last_name\": \"Hamlin\",\n      \"contact_phone_number\": \"1234567890\",\n      \"contact_phone_ext\": \"123\"\n   },\n   \"shipment_info\": {\n      \"equipment\": [\n         \"VAN\"\n      ],\n      \"load_size\": \"FULL\",\n      \"description\": \"filing cabinets\",\n      \"shipment_weight\": 30000,\n      \"shipment_dimensions\": {\n         \"shipment_height\": 20,\n         \"shipment_width\": 10,\n         \"shipment_length\": 200\n      },\n      \"requirements\": \"string\",\n      \"stop_list\": [\n         {\n            \"stop_type\": \"pickup\",\n            \"city\": \"Albuquerque\",\n            \"state\": \"NM\",\n            \"address_line\": \"6353 Juan Tabo Blvd\",\n            \"zip\": \"123456\",\n            \"country\": \"USA\",\n            \"lat\": 35.084250,\n            \"lng\": -106.649240,\n            \"date_local\": \"2022-10-11T03:00:00\",\n            \"sequence\": 1,\n            \"stop_instruction\": \"1\"\n         },\n         {\n            \"stop_type\": \"dropoff\",\n            \"city\": \"Phoenix\",\n            \"state\": \"AZ\",\n            \"address_line\": \"6353 Juan Tabo Blvd\",\n            \"zip\": \"123456\",\n            \"country\": \"USA\",\n            \"lat\": 33.448376,\n            \"lng\": -112.074036,\n            \"date_local\": \"2022-10-11T03:00:00\",\n            \"sequence\": 2,\n            \"stop_instruction\": \"1\"\n         }\n      ],\n      \"shipment_price\": 4500,\n      \"shipment_actions\": {\n         \"biddable\": True,\n         \"book_now\": True,\n         \"link_url\": \"https://brokerload.com/loaddetail/12345\"\n      },\n      \"private_load\": False,\n      \"external_id\": \"ba5bfcddab75490a946dc895025996a6\"\n   }\n})\nheaders = {\n   'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjp7InVzZXJJZCI6InZuNTJ1YzUiLCJkaXNwbGF5TmFtZSI6Ik11aGFtbWFkIFNoZXJheiAtIFZlbmRvciIsImdpdmVuTmFtZSI6Ik11aGFtbWFkIiwiZmFtaWx5TmFtZSI6IlNoZXJheiIsIm1haWwiOiJNdWhhbW1hZC5TaGVyYXpAd2FsbWFydC5jb20ifSwidXNlclJvbGVzIjpbXSwidXNlclByaW5jaXBhbE5hbWUiOiJ2bjUydWM1QGhvbWVvZmZpY2Uud2FsLW1hcnQuY29tIiwicGluZ1Rva2VuIjp7ImFjY2Vzc190b2tlbiI6ImV5SmhiR2NpT2lKU1V6STFOaUlzSW10cFpDSTZJbkJtWldSemRHRm5aVjl6YVdkdVgwcDFiSGt5TURJeklpd2ljR2t1WVhSdElqb2lNeUo5LmV5SnpZMjl3WlNJNkltOXdaVzVwWkNCd2NtOW1hV3hsSUdaMWJHd2lMQ0pqYkdsbGJuUmZhV1FpT2lKSlltZFFiM0owWVd4VmFWTjBaeUlzSW1kMWFXUWlPaUpOWmpVMFprb3dORFUzY2poalVFVXpNekJTVlVGeWQxRk1kV0pyTlc5dFJTSXNJbWx6Y3lJNkltaDBkSEJ6T2k4dmNHWmxaR05sY25RdWQyRnNMVzFoY25RdVkyOXRJaXdpYW5ScElqb2lZM3B6V0dKT1NVZ2lMQ0poZFdRaU9pSkpZbWRRYjNKMFlXeFZhVk4wWnlJc0luTjFZaUk2SW5adU5USjFZelZBYUc5dFpXOW1abWxqWlM1M1lXd3RiV0Z5ZEM1amIyMGlMQ0oxY0c0aU9pSjJialV5ZFdNMVFHaHZiV1Z2Wm1acFkyVXVkMkZzTFcxaGNuUXVZMjl0SWl3aWJtSm1Jam94TmpZME9EZzNOVE13TENKcFlYUWlPakUyTmpRNE9EYzJOVEFzSW5WelpYSnBaQ0k2SW5adU5USjFZelVpTENKM2FXNGlPaUpPVDFSZlJrOVZUa1FpTENKbGVIQWlPakUyTmpRNE9URXlOVEI5LktHUGR6OUE3TkZiNjQ5amZmRUVha2dZTkdYVDBhR2pKVUxWcmlUeGppbWNsSEJsMGgtVHJXbVdJTjZOaHZpX25sMzItMnItM042QkpnSnIzbldSQW1BR0xOMUFlSWpTWkR2NjZxWHhOcVJ0T3hJY2ZZZHVvNWhva09kOFZjN3l5dk9nWmU4SDdkRDBnRHBpeFNLUHUxN1ZUUHRZWUo0aTdyYnhhb1plZk15dUhFQ21uaTNiTzlpVFZ6OWdtYV9QYUd2OW1sRkNLb2ZkNjV3TENCN01PbFRqdkFPSXdQTWZuSUplMGNfaGpyTERxb3JUVmFfQV9HVk1TOTNVWmlTU1EwYVlLUm1KNmx1LWZZWjFXakY3dFVCT2hBSVI4Mk5tNko4X01EdnZCSTBVM2Z2elRWNVhGRVg3Mk04TUxvWlJCWXNVQXhoWVhyckNGeFgwTEE3bnlWZ3NGUnpqMDBhMzF3RkJmVXFrZDdmZ1FOY1loTjg0QW5WMTRRaWpMa3B6XzNXblRoUFdyVDJjVGUyUTJfbkF4eXU0Wjc3TVMxWDNYLUJEeTJBaVBWa3ZsLWs3cDZsT2FnZTc4dk1Id3kxVDU4ZTY2RlZnRzZ1R0l6X3EzZ1BKV19SaFVzcFVPTGFFaS12dFVTRVpHYm5oUXMxX2wyWlp5bmE1czdsVXF6SnRXSmRwY1dvckpvdFVMdlg5NjZYZlJ2RXd6eUhfOXNOX0lsZHRMQTZkb0JwSjJkaGJEUklNTlMyV2ZrbVNMbTk4VFFtYm9MbHVIcGtHNkVzRGJtOUNreFdoLXREc253ZWRzdnBYTVBNQldPQ2JxbXR5RjE5Mm1hNFZ6THBSc0pCTmc0MlRiWWtUX2pCNDVWR1p5emZJdkJnOWFINk1NX2F2cVltUGpvdktwQ1RjIiwicmVmcmVzaF90b2tlbiI6IndOZjg0aWZNRDFVZjJlVERsTGNpTHZPbFhSd0dxOEFKWWxHV1ZZZ3NPRCIsInRva2VuX3R5cGUiOiJCZWFyZXIiLCJleHBpcmVzX2luIjozNTk5fSwiaWF0IjoxNjY0ODg3NjUwLCJleHAiOjE2NjQ5NzQwNTB9.yj1-NT3kMie3Mg1ZTno2dhvUBEgiZJzXpyLl0i_rACE',\n   'Content-Type': 'application/json'\n}\n\nresponse = requests.request(\"POST\", url, headers=headers, data=payload)\n\nprint(response.text)\n","lang":"Python"}]}},"/api/shipments/update/v2":{"post":{"tags":["1. Loads APIs v2"],"summary":"Update Loads (external_id) V2","description":"Update a previously posted load by external_id.","operationId":"updateShipmentByExternalId","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateShipmentTmsByExternalDto"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseExample403"}}}},"500":{"description":"Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseExample500"}}}},"401":{"description":"Not Authorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseExample401"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShipmentsVo"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseExample404"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseExample400"}}}}},"security":[{"Authorization":[]}],"x-code-samples":[{"source":"OkHttpClient client = new OkHttpClient().newBuilder()\n        .build();\n        MediaType mediaType = MediaType.parse(\"application/json\");\n        RequestBody body = RequestBody.create(mediaType, \"{\\n  \\\"company_id\\\": \\\"string\\\",\\n  \\\"contact_info\\\": {\\n    \\\"contact_email\\\": \\\"howard@hhm.com\\\",\\n    \\\"contact_first_name\\\": \\\"Howard\\\",\\n    \\\"contact_last_name\\\": \\\"Hamlin\\\",\\n    \\\"contact_phone_number\\\": \\\"1234567890\\\",\\n    \\\"contact_phone_ext\\\": \\\"123\\\"\\n  },\\n  \\\"shipment_info\\\": {\\n    \\\"equipment\\\": [\\n      \\\"VAN\\\"\\n    ],\\n    \\\"load_size\\\": \\\"FULL\\\",\\n    \\\"description\\\": \\\"filing cabinets\\\",\\n    \\\"shipment_weight\\\": 30000,\\n    \\\"shipment_dimensions\\\": {\\n      \\\"shipment_height\\\": 20,\\n      \\\"shipment_width\\\": 10,\\n      \\\"shipment_length\\\": 200\\n    },\\n    \\\"requirements\\\": \\\"string\\\",\\n    \\\"stop_list\\\": [\\n      {\\n        \\\"stop_type\\\": \\\"pickup\\\",\\n        \\\"city\\\": \\\"Albuquerque\\\",\\n        \\\"state\\\": \\\"NM\\\",\\n        \\\"address_line\\\": \\\"6353 Juan Tabo Blvd\\\",\\n        \\\"zip\\\": \\\"123456\\\",\\n        \\\"country\\\": \\\"USA\\\",\\n        \\\"lat\\\": 33.448376,\\n        \\\"lng\\\": -112.074036,\\n        \\\"date_local\\\": \\\"2022-10-11T03:00:00\\\",\\n        \\\"sequence\\\": 1,\\n        \\\"stop_instruction\\\": \\\"1\\\"\\n      },\\n     {\\n        \\\"stop_type\\\": \\\"dropoff\\\",\\n        \\\"city\\\": \\\"Phoenix\\\",\\n        \\\"state\\\": \\\"AZ\\\",\\n        \\\"address_line\\\": \\\"6353 Juan Tabo Blvd\\\",\\n        \\\"zip\\\": \\\"123456\\\",\\n        \\\"country\\\": \\\"USA\\\",\\n        \\\"lat\\\": 33.448376,\\n        \\\"lng\\\": -112.074036,\\n        \\\"date_local\\\": \\\"2022-10-11T03:00:00\\\",\\n        \\\"sequence\\\": 2,\\n        \\\"stop_instruction\\\": \\\"1\\\"\\n      }\\n    ],\\n    \\\"shipment_price\\\": 4500,\\n    \\\"shipment_actions\\\": {\\n      \\\"biddable\\\": true,\\n      \\\"book_now\\\": true,\\n      \\\"link_url\\\": \\\"https://brokerload.com/loaddetail/12345\\\"\\n    },\\n    \\\"external_id\\\": \\\"ba5bfcddab75490a946dc895025996a6\\\"\\n  }\\n}\");\n        Request request = new Request.Builder()\n        .url(\"https://test-api.truckerpath.com/truckload/api/shipments/update/v2\")\n        .method(\"POST\", body)\n        .addHeader(\"Authorization\", \"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjp7InVzZXJJZCI6InZuNTJ1YzUiLCJkaXNwbGF5TmFtZSI6Ik11aGFtbWFkIFNoZXJheiAtIFZlbmRvciIsImdpdmVuTmFtZSI6Ik11aGFtbWFkIiwiZmFtaWx5TmFtZSI6IlNoZXJheiIsIm1haWwiOiJNdWhhbW1hZC5TaGVyYXpAd2FsbWFydC5jb20ifSwidXNlclJvbGVzIjpbXSwidXNlclByaW5jaXBhbE5hbWUiOiJ2bjUydWM1QGhvbWVvZmZpY2Uud2FsLW1hcnQuY29tIiwicGluZ1Rva2VuIjp7ImFjY2Vzc190b2tlbiI6ImV5SmhiR2NpT2lKU1V6STFOaUlzSW10cFpDSTZJbkJtWldSemRHRm5aVjl6YVdkdVgwcDFiSGt5TURJeklpd2ljR2t1WVhSdElqb2lNeUo5LmV5SnpZMjl3WlNJNkltOXdaVzVwWkNCd2NtOW1hV3hsSUdaMWJHd2lMQ0pqYkdsbGJuUmZhV1FpT2lKSlltZFFiM0owWVd4VmFWTjBaeUlzSW1kMWFXUWlPaUpOWmpVMFprb3dORFUzY2poalVFVXpNekJTVlVGeWQxRk1kV0pyTlc5dFJTSXNJbWx6Y3lJNkltaDBkSEJ6T2k4dmNHWmxaR05sY25RdWQyRnNMVzFoY25RdVkyOXRJaXdpYW5ScElqb2lZM3B6V0dKT1NVZ2lMQ0poZFdRaU9pSkpZbWRRYjNKMFlXeFZhVk4wWnlJc0luTjFZaUk2SW5adU5USjFZelZBYUc5dFpXOW1abWxqWlM1M1lXd3RiV0Z5ZEM1amIyMGlMQ0oxY0c0aU9pSjJialV5ZFdNMVFHaHZiV1Z2Wm1acFkyVXVkMkZzTFcxaGNuUXVZMjl0SWl3aWJtSm1Jam94TmpZME9EZzNOVE13TENKcFlYUWlPakUyTmpRNE9EYzJOVEFzSW5WelpYSnBaQ0k2SW5adU5USjFZelVpTENKM2FXNGlPaUpPVDFSZlJrOVZUa1FpTENKbGVIQWlPakUyTmpRNE9URXlOVEI5LktHUGR6OUE3TkZiNjQ5amZmRUVha2dZTkdYVDBhR2pKVUxWcmlUeGppbWNsSEJsMGgtVHJXbVdJTjZOaHZpX25sMzItMnItM042QkpnSnIzbldSQW1BR0xOMUFlSWpTWkR2NjZxWHhOcVJ0T3hJY2ZZZHVvNWhva09kOFZjN3l5dk9nWmU4SDdkRDBnRHBpeFNLUHUxN1ZUUHRZWUo0aTdyYnhhb1plZk15dUhFQ21uaTNiTzlpVFZ6OWdtYV9QYUd2OW1sRkNLb2ZkNjV3TENCN01PbFRqdkFPSXdQTWZuSUplMGNfaGpyTERxb3JUVmFfQV9HVk1TOTNVWmlTU1EwYVlLUm1KNmx1LWZZWjFXakY3dFVCT2hBSVI4Mk5tNko4X01EdnZCSTBVM2Z2elRWNVhGRVg3Mk04TUxvWlJCWXNVQXhoWVhyckNGeFgwTEE3bnlWZ3NGUnpqMDBhMzF3RkJmVXFrZDdmZ1FOY1loTjg0QW5WMTRRaWpMa3B6XzNXblRoUFdyVDJjVGUyUTJfbkF4eXU0Wjc3TVMxWDNYLUJEeTJBaVBWa3ZsLWs3cDZsT2FnZTc4dk1Id3kxVDU4ZTY2RlZnRzZ1R0l6X3EzZ1BKV19SaFVzcFVPTGFFaS12dFVTRVpHYm5oUXMxX2wyWlp5bmE1czdsVXF6SnRXSmRwY1dvckpvdFVMdlg5NjZYZlJ2RXd6eUhfOXNOX0lsZHRMQTZkb0JwSjJkaGJEUklNTlMyV2ZrbVNMbTk4VFFtYm9MbHVIcGtHNkVzRGJtOUNreFdoLXREc253ZWRzdnBYTVBNQldPQ2JxbXR5RjE5Mm1hNFZ6THBSc0pCTmc0MlRiWWtUX2pCNDVWR1p5emZJdkJnOWFINk1NX2F2cVltUGpvdktwQ1RjIiwicmVmcmVzaF90b2tlbiI6IndOZjg0aWZNRDFVZjJlVERsTGNpTHZPbFhSd0dxOEFKWWxHV1ZZZ3NPRCIsInRva2VuX3R5cGUiOiJCZWFyZXIiLCJleHBpcmVzX2luIjozNTk5fSwiaWF0IjoxNjY0ODg3NjUwLCJleHAiOjE2NjQ5NzQwNTB9.yj1-NT3kMie3Mg1ZTno2dhvUBEgiZJzXpyLl0i_rACE\")\n        .addHeader(\"Content-Type\", \"application/json\")\n        .build();\n        Response response = client.newCall(request).execute();\n","lang":"Java"},{"source":"curl --location --request POST 'https://test-api.truckerpath.com/truckload/api/shipments/update/v2' \\\n--header 'Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjp7InVzZXJJZCI6InZuNTJ1YzUiLCJkaXNwbGF5TmFtZSI6Ik11aGFtbWFkIFNoZXJheiAtIFZlbmRvciIsImdpdmVuTmFtZSI6Ik11aGFtbWFkIiwiZmFtaWx5TmFtZSI6IlNoZXJheiIsIm1haWwiOiJNdWhhbW1hZC5TaGVyYXpAd2FsbWFydC5jb20ifSwidXNlclJvbGVzIjpbXSwidXNlclByaW5jaXBhbE5hbWUiOiJ2bjUydWM1QGhvbWVvZmZpY2Uud2FsLW1hcnQuY29tIiwicGluZ1Rva2VuIjp7ImFjY2Vzc190b2tlbiI6ImV5SmhiR2NpT2lKU1V6STFOaUlzSW10cFpDSTZJbkJtWldSemRHRm5aVjl6YVdkdVgwcDFiSGt5TURJeklpd2ljR2t1WVhSdElqb2lNeUo5LmV5SnpZMjl3WlNJNkltOXdaVzVwWkNCd2NtOW1hV3hsSUdaMWJHd2lMQ0pqYkdsbGJuUmZhV1FpT2lKSlltZFFiM0owWVd4VmFWTjBaeUlzSW1kMWFXUWlPaUpOWmpVMFprb3dORFUzY2poalVFVXpNekJTVlVGeWQxRk1kV0pyTlc5dFJTSXNJbWx6Y3lJNkltaDBkSEJ6T2k4dmNHWmxaR05sY25RdWQyRnNMVzFoY25RdVkyOXRJaXdpYW5ScElqb2lZM3B6V0dKT1NVZ2lMQ0poZFdRaU9pSkpZbWRRYjNKMFlXeFZhVk4wWnlJc0luTjFZaUk2SW5adU5USjFZelZBYUc5dFpXOW1abWxqWlM1M1lXd3RiV0Z5ZEM1amIyMGlMQ0oxY0c0aU9pSjJialV5ZFdNMVFHaHZiV1Z2Wm1acFkyVXVkMkZzTFcxaGNuUXVZMjl0SWl3aWJtSm1Jam94TmpZME9EZzNOVE13TENKcFlYUWlPakUyTmpRNE9EYzJOVEFzSW5WelpYSnBaQ0k2SW5adU5USjFZelVpTENKM2FXNGlPaUpPVDFSZlJrOVZUa1FpTENKbGVIQWlPakUyTmpRNE9URXlOVEI5LktHUGR6OUE3TkZiNjQ5amZmRUVha2dZTkdYVDBhR2pKVUxWcmlUeGppbWNsSEJsMGgtVHJXbVdJTjZOaHZpX25sMzItMnItM042QkpnSnIzbldSQW1BR0xOMUFlSWpTWkR2NjZxWHhOcVJ0T3hJY2ZZZHVvNWhva09kOFZjN3l5dk9nWmU4SDdkRDBnRHBpeFNLUHUxN1ZUUHRZWUo0aTdyYnhhb1plZk15dUhFQ21uaTNiTzlpVFZ6OWdtYV9QYUd2OW1sRkNLb2ZkNjV3TENCN01PbFRqdkFPSXdQTWZuSUplMGNfaGpyTERxb3JUVmFfQV9HVk1TOTNVWmlTU1EwYVlLUm1KNmx1LWZZWjFXakY3dFVCT2hBSVI4Mk5tNko4X01EdnZCSTBVM2Z2elRWNVhGRVg3Mk04TUxvWlJCWXNVQXhoWVhyckNGeFgwTEE3bnlWZ3NGUnpqMDBhMzF3RkJmVXFrZDdmZ1FOY1loTjg0QW5WMTRRaWpMa3B6XzNXblRoUFdyVDJjVGUyUTJfbkF4eXU0Wjc3TVMxWDNYLUJEeTJBaVBWa3ZsLWs3cDZsT2FnZTc4dk1Id3kxVDU4ZTY2RlZnRzZ1R0l6X3EzZ1BKV19SaFVzcFVPTGFFaS12dFVTRVpHYm5oUXMxX2wyWlp5bmE1czdsVXF6SnRXSmRwY1dvckpvdFVMdlg5NjZYZlJ2RXd6eUhfOXNOX0lsZHRMQTZkb0JwSjJkaGJEUklNTlMyV2ZrbVNMbTk4VFFtYm9MbHVIcGtHNkVzRGJtOUNreFdoLXREc253ZWRzdnBYTVBNQldPQ2JxbXR5RjE5Mm1hNFZ6THBSc0pCTmc0MlRiWWtUX2pCNDVWR1p5emZJdkJnOWFINk1NX2F2cVltUGpvdktwQ1RjIiwicmVmcmVzaF90b2tlbiI6IndOZjg0aWZNRDFVZjJlVERsTGNpTHZPbFhSd0dxOEFKWWxHV1ZZZ3NPRCIsInRva2VuX3R5cGUiOiJCZWFyZXIiLCJleHBpcmVzX2luIjozNTk5fSwiaWF0IjoxNjY0ODg3NjUwLCJleHAiOjE2NjQ5NzQwNTB9.yj1-NT3kMie3Mg1ZTno2dhvUBEgiZJzXpyLl0i_rACE' \\\n--header 'Content-Type: application/json' \\\n--data-raw '{\n  \"company_id\": \"string\",\n  \"contact_info\": {\n    \"contact_email\": \"howard@hhm.com\",\n    \"contact_first_name\": \"Howard\",\n    \"contact_last_name\": \"Hamlin\",\n    \"contact_phone_number\": \"1234567890\",\n    \"contact_phone_ext\": \"123\"\n  },\n  \"shipment_info\": {\n    \"equipment\": [\n      \"VAN\"\n    ],\n    \"load_size\": \"FULL\",\n    \"description\": \"filing cabinets\",\n    \"shipment_weight\": 30000,\n    \"shipment_dimensions\": {\n      \"shipment_height\": 20,\n      \"shipment_width\": 10,\n      \"shipment_length\": 200\n    },\n    \"requirements\": \"string\",\n    \"stop_list\": [\n      {\n        \"stop_type\": \"pickup\",\n        \"city\": \"Albuquerque\",\n        \"state\": \"NM\",\n        \"address_line\": \"6353 Juan Tabo Blvd\",\n        \"zip\": \"123456\",\n        \"country\": \"USA\",\n        \"lat\": 33.448376,\n        \"lng\": -112.074036,\n        \"date_local\": \"2022-10-11T03:00:00\",\n        \"sequence\": 1,\n        \"stop_instruction\": \"1\"\n      },\n     {\n        \"stop_type\": \"dropoff\",\n        \"city\": \"P
[...]
